{% extends 'layout.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
  NBSAP - {% trans "Mapping EU and Aichi strategies: Add" %}
{% endblock %}


{% block extra_head %}
  <script src='/static/js/jquery-1.11.1.min.js'></script>
  {{ form.media }}
{% endblock %}


{% block navmenu %}
  {% include 'admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans "Mapping EU and Aichi strategies" %}</h1>

  {% if form.errors %}
    <p>
      {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
  {% endif %}

  <form action="{% url 'edit_eu_aichi_strategy' %}" method="post" class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2" for="eu_target">{% trans "EU Target" %}</label>
      <div class="col-md-3">
        {{ form.eu_target }}
        {{ form.eu_target.errors }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2" for="aichi_targets">{% trans "AICHI Targets" %}</label>
      <div class="col-md-3">
        {{ form.aichi_targets }}
        {{ form.aichi_targets.errors }}
      </div>
      <div class="aichi_targets_text col-md-7 short-descrip">
      </div>
    </div>
    <div class="action-bar">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
      <a href="{% url 'list_eu_aichi_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  {% assets "js_admin" %}
   <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <script>
    $(".chzn-select").chosen();
    $('select[name=aichi_targets]').on('change', function () {
      var option = $(this).serialize();
      var text = $(this).parents('.form-group').find('.aichi_targets_text');
      var output = "";
      var args = option.split("aichi_targets=");
      args = args.map(function(x) {return parseInt(x)});
      args = args.filter(Number);
      var url = "{% url 'aichi_target_title' pk=1%}";
      text.html('');
      $.each(args, function(i, arg) {
        $.get(url.replace('1',arg), function(data) {
        data = $.parseJSON(data)[0];
        text.append('<h5>Target ' + data.code + '</h5><p>' + data.value + '</p>');
        });
      });
    }).change();
  </script>
{% endblock %}
