{% extends 'layout.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
  NBSAP - {% trans "Mapping EU and Aichi strategies: Edit" %}
{% endblock %}


{% block extra_head %}
  <script src='/static/js/jquery-1.11.1.min.js'></script>
  {{ form.media }}
{% endblock %}


{% block navmenu %}
  {% include 'admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans "Mapping EU and Aichi strategies" %}</h1>

  {% if form.errors %}
    <p>
      {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
  {% endif %}

  <form action="{% url 'edit_eu_aichi_strategy' pk=strategy.pk %}" method="post" class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2" for="eu_target">{% trans "EU Target" %}</label>
      <div class="col-md-3">
        {{ strategy.eu_target }}
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2" for="aichi_targets">{% trans "AICHI Targets" %}</label>
      <div class="col-md-3">
        {{ form.aichi_targets }}
        {{ form.aichi_targets.errors }}
        <div class="action-bar">
          <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
          <a href="{% url 'list_eu_aichi_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
        </div>
      </div>
      <div class="col-md-7">
        <ul id="descriptions" data-url="{% url 'get_aichi_targets_info' %}">
        </ul>
      </div>
    </div>

  </form>
{% endblock %}

{% block scripts %}
  <script src="/static/js/update_aichi_description.js"></script>
{% endblock %}
