{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "Edit national strategy" %}</title>
{% endblock %}

{% block extra_head %}
  <style>
    .controls textarea{width: 100%;}
    .controls textarea#id_title {height: 54px;}
  </style>

  <script src='/static/js/jquery-1.7.1.min.js'></script>
  <script src='/static/js/jquery-ui-1.8.18.custom.min.js'></script>

  {{ form.media }}

{% endblock %}

{% block content %}
  {% include 'admin_nav_tabs.html' %}

  <div class="tabbable">
    <h1 class="small">{% trans "Mapping National Objectives - Edit national strategy" %}</h1>

    {% if form.errors %}
      <p style="color: red;">
        {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
      </p>
    {% endif %}

    <form style="margin-top: 25px" action="{% url 'edit_national_strategy' pk=strategy.id %}" method="post"
          id="national-strategy-edit">
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'list_national_strategy' %}" class="btn" type="button">{% trans "Cancel" %}</a>
      </div>

      <div class="control-group row">
        <label class="control-label span2" for="nat_objective">{% trans "National Objective" %}</label>
        <div class="controls span3"> {{ form.nat_objective }}
        </div>
        <div class="objective_text span7">
        </div>
      </div>

      <hr>

      <div class="control-group row">
        <label class="control-label span2" for="aichi_goal">{% trans "AICHI Goal" %}</label>
        <div class="controls span3"> {{ form.aichi_goal }}
        </div>
        <div class="goal_text span7">
        </div>
      </div>

      <hr>

      <div class="control-group row">
        <label class="control-label span2" for="aichi_target">{% trans "Most relevant AICHI Target" %}</label>
        <div class="controls span3"> {{ form.aichi_target }}
        </div>
        <div class="target_text span7">
        </div>
      </div>

      <div class="control-group row">
        <label class="control-label span2" for="other_targets">{% trans "Other AICHI Targets" %}</label>
        <div class="controls span3"> {{ form.other_targets }}
        </div>
        <div class="other_target_text span7">
        </div>
      </div>

      <hr>

      {% if EU_STRATEGY %}
      <div class="control-group row">
        <label class="control-label span2">{% trans "EU Targets" %}</label>
        <div class="controls span3"> {{ form.eu_targets }}
        </div>
        <div class="eu_target_text span7">
        </div>
      </div>

      <div class="control-group row">
        <label class="control-label span2">{% trans "EU Actions" %}</label>
        <div class="controls span3"> {{ form.eu_actions }}
        </div>
        <div class="actions_text span7">
        </div>

      </div>
      {% endif %}

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        <a href="{% url 'list_national_strategy' %}" class="btn" type="button">{% trans "Cancel" %}</a>
      </div>

    </form>
  </div>

{% endblock %}

{% block scripts %}
<script>

$(".chzn-select").chosen();


$(function () {

  $('select[name=nat_objective]').on('change', function () {
    var option = parseInt($(this).val());
    var text = $(this).parents('.control-group').find('.objective_text');
    var url = "{% url 'objective_title' pk=1%}".replace('1', option)
    $.get(url, function (data) {
      text.html('<p>' + data + '</p>');
    });
  }).change();


  $('select[name=aichi_goal]').on('change', function () {
    var option = $(this).val();
    var text = $(this).parents('.control-group').find('.goal_text');
    var url = "{% url 'goal_title' pk=1%}".replace('1', option)
    $.get(url, function (data) {
      data = $.parseJSON(data)[0];

      text.html('<p>' + data.goal + '</p>');
      $('select[name=aichi_target]').html('');
      $.each(data.targets, function(i,t) {
        var html = $('<option />').attr('value', t.pk).text('Target ' + t.value);
        $('select[name=aichi_target]').append(html);
      });
      $('select[name=aichi_target]').change();
    });
  }).change();

  $('select[name=aichi_target]').on('change', function () {
    var option = $(this).val();
    var text =  $(this).parents('.control-group').find('.target_text');
    var url = "{% url 'aichi_target_title' pk=1%}";

    url = url.replace('1', option);
    $.get(url, function (data) {
      data = $.parseJSON(data)[0];

      text.html('<p>' + data.value + '</p>');
    });
  }).change();

  $('select[name=other_targets]').on('change', function () {
      var option = $(this).serialize();
      var text = $(this).parents('.control-group').find('.other_target_text');
      var output = "";
      var args = option.split("other_targets=");
      args = args.map(function(x) {return parseInt(x)});
      args = args.filter(Number);
      var url = "{% url 'aichi_target_title' pk=1%}";
      text.html('');
      $.each(args, function(i, arg) {
        $.get(url.replace('1',arg), function(data) {
        data = $.parseJSON(data)[0];
        text.append('<h5>Target ' + data.code + '</h5><p>' + data.value + '</p>');
        });
      });
  }).change();

  $('select[name=eu_targets]').on('change', function () {
    var option = $(this).serialize();
    var text = $(this).parents('.control-group').find('.eu_target_text');

    var args = option.split("eu_targets=");
    args = args.map(function(x) {return parseInt(x)});
    args = args.filter(Number);

    var eu_actions = $('select[name=eu_actions]');
    eu_actions.html('');
    if(args.length == 0) {
      eu_actions.trigger('liszt:updated');
    }

    var options = $('select[name=eu_actions]').find('option:selected');
    console.log(options);
    var url = "{% url 'eu_target_title' pk=1%}";
    var action_url = "{% url 'target_action' pk=1%}";

    text.html('');

    $.each(args, function(i, arg){
      $.get(url.replace('1',arg), function(data) {
        text.append('<p>'+ data + '</p>');
      });

      $.get(action_url.replace('1',arg), function(data) {
      data = $.parseJSON(data);
      $.each(data, function (i, d) {
        var html = $('<option />').attr('value', d.id).text(d.value);
        var action_text =  eu_actions.parents('.control-group').find('.actions_text');

        $.each(options, function(j, o) {
          if (o.value == d.id){
            html = $('<option />').attr('value',d.id).attr('selected', 'selected').text(d.value);
            $.get("{% url 'action_title' pk=1%}".replace('1', d.id), function(action_data) {
              action_text.append('<p>' + action_data + '</p>');
            });
          }
        });

      eu_actions.append(html);
      eu_actions.trigger('liszt:updated');
      });
    });
  });
  eu_actions.change();
  }).change();

  $('select[name=eu_actions]').on('change', function () {
    var option = $(this).serialize();
    var text = $(this).parents('.control-group').find('.actions_text');
    var args = option.split("eu_actions=");
    args = args.map(function(x) {return parseInt(x)});
    args = args.filter(Number);
    text.html('');
    var url = "{% url 'action_title' pk=1%}";
    $.each(args, function(i, arg) {
        $.get(url.replace('1',arg), function(data) {
        text.append('<p>' + data + '</p>');
        });
      });
  }).change();

});


</script>
{% endblock %}
