{% extends 'layout.html' %}
{% block content %}

{% if messages %}
<div class="massages alert alert-succes">
{% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
</div>
{% endif %}

{% load assets %}
<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% include 'admin_nav_tabs.html' %}

<h1 class="small">Mappings of National Objectives to Aichi and EU targets</h1>

<div class="add-button">
  <a class="btn btn-small btn-primary add"
     href="{% url 'edit_national_strategy' %}">Add Mapping</a>
</div>

<table class="table table-bordered table-striped objectives_listing">

  <thead>
    <th class="obj-id">Objective</th>
    <th class="goal">Goal</th>
    <th class="">Most Relevant Targets</th>
    <th>Other Relevant Targets</th>
    {% if EU_STRATEGY %}
        <th>EU Targets</th>
        <th>EU Actions</th>
    {% endif %}
    <th>Edit</th>
    <th>Delete</th>
  </thead>

  <tbody>
  {% for strategy in strategies %}
    <tr>
      <td>
        <a href="{% url 'view_national_objective' pk=strategy.objective.pk %}">{{ strategy.objective.code }}</a>
      </td>
      <td>
         <a href="">{{ strategy.relevant_target.get_parent_goal.code|title }}</a>
      </td>
      <td>
         <a href="">{{ strategy.relevant_target.code }} </a>
      </td>
      <td>
         {% if strategy.other_targets.all %}
             {% for target in strategy.other_targets.all %}
               <a href="">{{ target.code }}</a>
               {% if not forloop.last %},{% endif %}
             {% endfor %}
         {% endif %}
      </td>
      {% if EU_STRATEGY %}
          <td>
             {% if strategy.eu_targets.all %}
               {% for eu_target in strategy.eu_targets.all %}
                 <a href="">{{ eu_target.code }}</a>
                 {% if not forloop.last %},{% endif %}
               {% endfor %}
             {% endif %}
          </td>
          <td>
             {% if strategy.eu_actions.all %}
               {% for action in strategy.eu_actions.all %}
                 <a href="">Action {{ action.code }}</a>
                 {% if not forloop.last %},{% endif %}
               {% endfor %}
             {% endif %}
          </td>
      {% endif %}
      <td style="text-align: center;">
        <a class="btn btn-mini btn-primary add"
            href="{% url 'edit_national_strategy' pk=strategy.pk %}">Edit</a>
      </td>
      <td style="text-align: center;">
        <a class="btn btn-mini btn-danger"
           href="{% url 'delete_national_strategy' strategy=strategy.pk %}">Delete</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

</table>
{% endblock %}


{% block scripts %}

  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>

    $(document).ready(function() {
      $('.messages').delay(1000).fadeOut();
      $('.objectives_listing').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "bStateSave": true,
          "iDisplayLength": 10,
          "sPaginationType": "bootstrap",
          "oLanguage": {
            "sLengthMenu": 'Display _MENU_ mappings per page',
            "sInfo": 'Showing _START_ to _END_ of _TOTAL_ mappings',
            "sZeroRecords": "No matching mappings found"},
      });
    });

    $(".btn-danger").on("click", function (e) {
      e.preventDefault();
      if(confirm('Are you sure you want to delete this mapping?')) {
      console.log($(this).attr("href"));
        $.ajax({
          "url": $(this).attr("href"),
          "type": "DELETE",
          "success": function (data) {
          console.log(data.status);
          window.location = "/administration/mapping/";
          }
        });
      }
    });
  </script>

{% endblock scripts %}

