{% load i18n %}

<div class="well">
  <div class="well-title">{% trans "Mapping with AICHI" %}</div>
  {% if subobj.objective_national_strategy.all %}
    {% for strategy in subobj.objective_national_strategy.all %}

      <h5>{% trans "AICHI Goal" %}</h5>
      <ul>
      {% with strategy.relevant_target.get_parent_goal as goal %}
        <li>
            <a href="#to_do">{% trans "AICHI Goal" %} {{ goal.code|upper }}</a>
            {{ goal.description|safe }}
          </span>
        </li>
      </ul>

      <h5>{% trans "Most relevant AICHI target" %}</h5>
      <ul>
        {% with strategy.relevant_target as target %}
        <li>
            <a href="#to_do">{% trans "AICHI Target" %} {{ target.code }}:</a>
            {{ target.description|safe }}
        </li>
        {% endwith %}
      </ul>

      {% if strategy.other_targets.all %}
      <h5>{% trans "Other relevant AICHI targets" %}</h5>
      <ul>
        {% for target in strategy.other_targets.all %}
        <li>
          <a href="#to_do">{% trans "AICHI Target" %} {{ target.code }}:</a>
          {{ target.description|safe }}
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% endwith %}
    {% endfor %}
  {% else %}
    <p>{% trans "No data available" %}.</p>
  {% endif %}
</div>
