{% load i18n %}

<label>{% trans "Mapping with EU" %}:</label>
<div class="row well">
  {% if subobj.has_national_strategies %}

    <ul class="mapping-list">
    {% for strategy in subobj.get_national_strategies %}

      {% if strategy.eu_targets.all %}
        {% for target in strategy.eu_targets.all %}
          <li>
            <span class="mapping-header">{% trans "Targets" %}:</span>
            <span>
              <a href="{% url 'eu_targets' code=target.code %}" title="{{ target.code }}">
                <strong>{% trans "Target" %} {{ target.code }}</strong>: {{ target.title }}
              </a>
            </span>
          </li>
        {% endfor %}
      {% endif %}

      {% if strategy.eu_actions.all %}
        {% for action in strategy.eu_actions.all %}
        <li>
          {% with action.get_target as eu_target %}
          <span class="mapping-header">{% trans "Related EU actions" %}:</span>
          <span>
            <a href="{% url 'eu_targets' code=eu_target.code %}#{{ action.code }}" title="{{ action.code }}">
              <strong>{% trans "Action" %} {{ action.code }}</strong>: {{ action.description|safe }}
            </a>
          </span>
          {% endwith %}
        </li>
        {% endfor %}
      {% endif %}

    {% endfor %}
    </ul>

  {% else %}
    <span>{% trans "No data available" %}.</span>
  {% endif %}
</div>
