{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}

{% block title %}
  NBSAP - {% trans "National Strategy" %}
{% endblock %}


{% block navmenu %}
  {% include 'nav_tabs.html' %}
{% endblock %}


{% block sidebar %}
<div class="sidebar">
  <div class="sidebar-title">{% trans "Objectives" %}</div>
  <ul class="sidebar-menu">
    {% for objective in objectives %}
      <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
        <a href="{% url 'nat_strategy' code=objective.code %}" title="{{ objective.code }}">
          {% trans "Objective" %} {{ objective.code }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block content %}
    <h1 class="page-title">{% trans "Objective" %} {{ current_objective.code }}: {{ current_objective.title }}</h1>
    <div class="element_field objective-description">
      {{ current_objective.description|safe }}
    </div>

    <div class="toc">
      <h5>{% trans "Table of contents" %}</h5>
      {% if not current_objective.objectives_tree|length %}
        <p>{% trans "No sub-objectives found" %}</p>
      {% else %}
      <ul>
        {% for objective in current_objective.objectives_tree %}
        <li>
          <a href="#{{ objective.code }}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ objective.title }}">
             {% trans "Objective" %} {{ objective.code }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% if not current_objective.actions %}
        <p>{% trans "No related actions found". %}</p>
      {% else %}
        <ul>
        {% for action in current_objective.actions.all %}
          <li>
            <a href="#{{ action.id }}">
              {% trans "Action" %} {{ action.id }}
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>

    {% for subobj in current_objective.objectives_tree %}
    <div class="section" id="{{ subobj.code }}">
      <h2>{% trans "Objective" %} {{ subobj.code }}: {{ subobj.title }}</h2>

      <div class="element_field">
        <div class="snippet">
          {{ subobj.description|striptags|truncatechars:510|safe }}
          <a class="more">{% trans "show more" %}</a>
        </div>
        <div class="full">
          {{ subobj.description|safe }}
          <a class="less">{% trans "show less" %}</a>
        </div>
      </div>

      {% include 'mapping/nat_strategy_aichi_mapping.html' %}

      {% include 'mapping/nat_strategy_eu_mapping.html' %}

      {% if subobj.actions.all %}
        <div class="well">
          <div class="well-title">{% trans "Related actions" %}</div>
          <ul>
          {% for action in subobj.actions.all %}
            <a href="#to_do">{% trans "Actions related to objective" %} {{ action.code }}</a>
            <p>{{ action.description|safe }}</p>
          {% endfor %}
          </ul>
        </div>
      {% endif %}

    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}


{% block scripts %}
  <script>
  $(function () {
    $("[rel=tooltip]").tooltip();

    $('.more').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      snippet.hide();
      full.show();
    });

    $('.less').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      full.hide();
      snippet.show();
    });
  });
  </script>
{% endblock scripts %}
