{% load i18n %}
{% load utils %}

<div class="well">
  <div class="well-title">{% trans "Mapping with AICHI" %}</div>
  {% with strategies=subobj.objective_national_strategy.all %}
    {% if strategies|length %}

    <h5>{% trans "AICHI Goals" %}</h5>
    <ul>
    {% for strategy in strategies %}
      {% with strategy.relevant_target.get_parent_goal as goal %}
        <li>
          <a href="{% url 'goals' code=goal.code %}">
          {% trans "AICHI Goal" %} {{ goal.code|upper }}</a>
          <p>{{ goal.description|safe }}</p>
        </li>
      {% endwith %}
    {% endfor %}
    </ul>

    <h5>{% trans "Most relevant AICHI targets" %}</h5>
    <ul>
    {% for strategy in strategies %}
      {% with strategy.relevant_target as target %}
        {% assign target.get_parent_goal as goal %}
        <li>
          <a href="{% url 'goals' code=goal.code %}#{{ target.code }}">
          {% trans "AICHI Target" %} {{ target.code }}</a>
          <p>{{ target.description|safe }}</p>
        </li>
      {% endwith %}
    {% endfor %}
    </ul>

    <h5>{% trans "Other relevant AICHI targets" %}</h5>
    <ul>
    {% for strategy in strategies %}
      {% with strategy.other_targets.all as target %}
        <li>
          <a href="#to_do">{% trans "AICHI Target" %} {{ target.code }}</a>
          <p>{{ target.description|safe }}</p>
        </li>
      {% endwith %}
    {% endfor %}
    </ul>

    {% else %}
      <p>{% trans "No data available" %}.</p>
    {% endif %}
  {% endwith %}
</div>
