{% load i18n %}

<div class="well">
  <div class="well-title">{% trans "Mapping with EU" %}</div>
  {% if subobj.has_national_strategies %}

    {% for strategy in subobj.get_national_strategies %}

      {% if strategy.eu_targets.all %}
        <h5>{% trans "EU Targets" %}</h5>
        <ul>
          {% for target in strategy.eu_targets.all %}
            <li>
              <a href="#to_do">{% trans "Target" %} {{ target.code }}</a>
              {{ target.title }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if strategy.eu_actions.all %}
        <h5>{% trans "Related EU actions" %}</h5>
        <ul>
          {% for action in strategy.eu_actions.all %}
            {% with action.get_target as eu_target %}
            <li>
              <a href="#to_do">{% trans "Action" %} {{ action.code }}</a>
              {{ action.description|safe }}
            </li>
            {% endwith %}
          {% endfor %}
        </ul>
      {% endif %}

    {% endfor %}

  {% else %}
    <p>{% trans "No data available" %}.</p>
  {% endif %}
</div>
