{% load i18n %}

<label>{% trans "Mapping with AICHI" %}:</label>
<div class="row well">
  {% if subobj.objective_national_strategy.all %}
    <ul class="mapping-list">
    {% for strategy in subobj.objective_national_strategy.all %}

      {% with strategy.relevant_target.get_parent_goal as goal %}
        <li>
          <span class="mapping-header">{% trans "AICHI Goal" %}:</span>
          <span>
            <label class="goal">{% trans "AICHI Goal" %} {{ goal.code|upper }}:</label>{{ goal.description|safe }}
          </span>
        </li>

        {% with strategy.relevant_target as target %}
        <li>
          <span class="mapping-header">{% trans "Most relevant AICHI target" %}:</span>
          <span>
            <label class="target">{% trans "AICHI Target" %} {{ target.code }}:</label>{{ target.description|safe }}
          </span>
        </li>
        {% endwith %}

        {% if strategy.other_targets.all %}
        <li>
          <span class="mapping-header">{% trans "Other relevant AICHI targets" %}:</span>
          <ul class="other-targets">
            {% for target in strategy.other_targets.all %}
            <li>
              <span>
                <label class="target">{% trans "AICHI Target" %} {{ target.code }}:</label>{{ target.description|safe }}
              </span>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

      {% endwith %}
    {% endfor %}
    </ul>
  {% else %}
    <span>{% trans "No data available" %}.</span>
  {% endif %}
</div>
