{% load i18n %}

<div class="well">
  <div class="well-title">{% trans "Mapping with EU" %}</div>
  {% with strategies=subobj.has_national_strategies.all %}

  {% if strategies|length %}

    <h5>{% trans "EU Targets" %}</h5>
    <ul>
    {% for target in strategy.eu_targets.all %}
      <li>
        <a href="#to_do">{% trans "Target" %} {{ target.code }}</a>
        {{ target.title }}
      </li>
    {% endfor %}
    </ul>

    <h5>{% trans "Related EU actions" %}</h5>
    <ul>
    {% for action in strategy.eu_actions.all %}
      {% with action.get_target as eu_target %}
        <li>
          <a href="#to_do">{% trans "Action" %} {{ action.code }}</a>
          {{ action.description|safe }}
        </li>
      {% endwith %}
    {% endfor %}
    </ul>

  {% else %}
    <p>{% trans "No data available" %}.</p>
  {% endif %}

  {% endwith %}
</div>
