{% extends "layout.html" %}

{% block content %}

{% if messages %}
<div class="messages alert alert-success">
{% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
</div>
{% endif %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h1 class="small">Login</h1>
<form class="well form-inline"method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <input id="id_username" class="span3" placeholder="Username" name="username" type="text">
    <input id="id_password" class="span2" placeholder="Password" name="password" type="password">
    <button type="submit" class="btn">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $('.messages').delay(1000).fadeOut();
  });
</script>
{% endblock scripts %}
