{% extends 'manager/base.html' %}

{% load i18n %}

{% block title %}
NBSAP - {% trans "Action" %} {{ action.code }}: {{ action.title }}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "Action" %} {{ action.code }}: {{ action.title }}{% if action.region %} ({{ action.region }}){% endif %}</h1>
</section>

<section class="content">

  <div class="action-bar">
    <form action="{% url 'delete_national_action' objective=objective.pk pk=action.pk %}" method="POST">
      <a class="btn btn-xs btn-success"
         href="{% url 'view_national_objective' pk=objective.pk %}">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}</a>

      <a class="btn btn-xs btn-default edit"
         href="{% url 'edit_national_action' objective=objective.pk parent=action.pk %}">
        {% trans "Add sub-action" %}</a>

      <a class="btn btn-xs btn-default edit"
         href="{% url 'edit_national_action' objective=objective.pk pk=action.pk %}">{% trans "Edit" %}</a>

      <button type="submit" class="btn btn-danger edit"
              data-message="{% trans 'Are you sure you want to delete this action?' %}">
        <i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}
      </button>
    </form>
  </div>

  <div class="admin-obj-description">
    {{ action.description|safe }}
  </div>

  {% regroup actions by region as action_list %}

  {% for items in action_list %}
  {% if items.grouper %}
  <h4 class="page-title">{{ items.grouper }}</h4>
  {% endif %}

  <table class="table">

    <thead>
    <th class="span1">{% trans "Code" %}</th>
    <th>{% trans "Sub-actions" %}</th>
    </thead>

    <tbody>
    {% for subaction in items.list %}
    <tr>
      <td>{{ subaction.code }}</td>
      <td>
        <a href="{% url 'view_national_action' objective=objective.pk pk=subaction.pk %}"
           title="{% trans 'Action' %} {{ subaction.code }}">
          {{ subaction.title|default:subaction.code }}</a>
      </td>
      <td>
        <a href="{% url 'edit_national_action' objective=objective.pk pk=subaction.pk %}"
           class="btn btn-xs btn-default">Edit</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">{% trans "No sub actions" %}</td>
    </tr>
    {% endfor %}
    </tbody>

  </table>
  {% endfor %}
</section>
{% endblock %}


{% block scripts %}
<script src="/static/js/object_delete.js"></script>
{% endblock scripts %}
