{% load i18n %}

<ul class="account-menu">

  {% for navbar_link in navbar_links %}
    <li>
      <a href="{{ navbar_link.url }}" target="_blank" title="{{ navbar_link.title }}">
        {{ navbar_link }}</a>
    </li>
  {% endfor %}

  <li class="dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown">
      {{ request.LANGUAGE_CODE|upper }}<b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      {% for lang in LANGUAGES %}
        <li>
          <a class="change-lang">{{ lang.1 }}</a>
          <form name="set_lang_{{ lang.0 }}" class="language-menu" action="{% url 'set_language' %}" method="POST">
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            <input name="language" type="hidden" value="{{ lang.0 }}">
          </form>
        </li>
      {% endfor %}
    </ul>

  </li>

  {% if user.is_authenticated %}
    <li>
      <a href="{% if NAT_STRATEGY %}{% url 'list_national_objectives' %}{% else %}{% url 'list_eu_targets' %}{% endif %}">
        {% trans 'Mappings' %}
      </a>
    </li>
    {% if user.is_staff %}
      <li>
        <a href="{% url 'admin:index' %}" class="change-lang">{% trans 'Administration' %}</a>
      </li>
      <li>
        <a href="{% url 'rosetta-home' %}">{% trans 'Translate' %}</a>
      </li>
    {% endif %}

    <li>
      <a href="{% url 'logout' %}">{% trans "Logout" %}</a>
    </li>

  {% else %}
    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
  {% endif %}

</ul>
