{% extends 'layout.html' %}


{% block extra_head %}

  <style>
    .controls textarea{width: 100%;}
    .controls textarea#id_title {height: 54px;}
  </style>

  {{ form.media }}

{% endblock %}


{% block content %}

<h1>Add objective</h1>

{% if form.errors %}
  <p style="color: red;">
      Please correct the error{{ form.errors|pluralize }} below.
  </p>
{% endif %}

<form action="" method="post">

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" class="btn" type="button">Cancel</a>
  </div>

  <div class="control-group">
    <label class="control-label" for="language">Language</label>
    <div class="controls">
      {{ form.language }}
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <div class="language-container">

        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            {{ form.title }}
            {{ form.title.errors }}
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            {{ form.description }}
            {{ form.description.errors }}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="#" class="btn" type="button">Cancel</a>
  </div>

</form>

{% endblock %}