{% load i18n %}
{% load utils %}

<section class="content-header">
  <h1 class="admin-page-title">{% trans "National Biodiversity Strategies and Action Plan - Administration" %}</h1>
</section>

<section class="content">
  <h2 class="admin-page-desc">On this section you can: </h2>
  <ul class="admin-page-list">
    <li><a href="{% url 'list_eu_targets' %}">Add a new EU Target</a></li>
    <li><a href="{% url 'list_eu_indicators' %}">Add a new Eu Indicator</a></li>
    <li><a href="{% url 'list_eu_aichi_strategy' %}">Add a new Mapping</a></li>
  </ul>
</section>