{% load utils %}
{% load i18n %}

<a class="pull-right btn btn-success btn-mini exit-admin" href="{% url 'goals' %}">{% trans "Exit from administration" %}</a>
<ul class="nav nav-tabs global-menu">

  <li class="{% active request '^/administration/objectives/[\w\-]+' %}
             {% active request '^/administration/$' %}">
    <a href="{% url 'list_national_objectives' %}">{% trans "National Strategy" %}</a> </li>

  <li class="{% active request '^/administration/mapping/[\w\-]+' %}
             {% active request '^/administration/mapping/$' %}">
    <a href="{% url 'list_national_strategy' %}">{% trans "Mapping" %}</a>
  </li>

  <li class="{% active request '^/administration/page' %}">
    <a href="{% url 'admin_pages' %}">{% trans "Intro Page" %}</a>
  </li>

</ul>
