{% load utils %}
{% load i18n %}

<ul class="nav-menu">

  {% if NAT_STRATEGY %}
  <li class="{% active request '^/administration/objectives/[\w\-]+' %}
             {% active request '^/administration/objectives/' %}">
    <a href="{% url 'list_national_objectives' %}">{% trans "National Strategy" %}</a> </li>
  {% else %}
  <li class="{% active request '^/administration/targets/[\w\-]+' %}
             {% active request '^/administration/targets/' %}">
    <a href="{% url 'list_eu_targets' %}">{% trans "EU Strategy" %}</a> </li>
  {% endif %}

  <li class="{% active request '^/administration/mapping/[\w\-]+' %}
             {% active request '^/administration/mapping/$' %}">
    <a href="{% url 'list_national_strategy' %}">{% trans "Mapping" %}</a>
  </li>

  <li class="{% active request '^/administration/page' %}">
    <a href="{% url 'admin_pages' %}">{% trans "Intro page" %}</a>
  </li>

  <li class="pull-right nav-btn">
    <a class="exit-admin" href="{% url 'goals' %}">{% trans "Exit from administration" %}</a>
  </li>

</ul>
