{% extends 'layout.html' %}
{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "EU Indicators" %}
{% endblock %}


{% block navmenu %}
  {% include 'nav_menu.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <h4 class="sidebar-title">Indicators</h4>
  <ul class="sidebar-menu">
    {% for indicator in indicators %}
    <li {% if indicator.pk == current_indicator.pk %}class="active"{% endif %}>
      <a href="{% url 'eu_indicators' pk=indicator.pk %}" title="{{ indicator.pk }}">
        {% trans "Indicator" %} {{ indicator.pk }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
  <h1 class="page-title">{% trans "EU Indicators" %}</h1>

  <h1>{% trans "EU Indicator" %} {{ current_indicator.pk }}: {{ current_indicator.title }}</h1>
  <p class="objective-description">{{ current_indicator.body }}</p>

  <div class ="well">
    <div class="well-title">{% trans "EU targets" %}</div>
    {% if current_indicator.targets.exists %}
    <ul>
      {% for target in current_indicator.targets.all %}
        <li>
          {{ target.code }} {{target.title}}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>{% trans "No corresponding EU target" %}.</p>
    {% endif %}
  </div>

    <div class ="well">
    <div class="well-title">{% trans "Mapping with Aichi Strategy" %}</div>
    {% if current_indicator.eu_indicator_aichi_strategy.exists %}
      <ul>
        {% for strategy in current_indicator.eu_indicator_aichi_strategy.all %}
          {% for aichi_target in strategy.aichi_targets.all %}
            {% assign aichi_target.get_parent_goal as goal %}
            <li>
              <a href="{% url 'goals' code=goal.code %}#{{ aichi_target.code }}">
                {% trans "AICHI Target"%} {{ aichi_target.code }}</a>
            </li>
          {% endfor %}
        {% endfor %}
      </ul>
    {% else %}
      <p>{% trans "No corresponding AICHI target" %}.</p>
    {% endif %}
  </div>

{% endblock %}
