{% extends 'layout.html' %}
{% block content %}

{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">
  <label class="nav-header">EU Targets</label>
  <ul class="nav nav-tabs nav-stacked local-navigation">
    {% for target in targets %}
    <li {% if target.pk == current_target.pk %}class="active"{% endif %}>
      <a href="{% url 'eu_targets' pk=target.pk %}" title="{{ target.pk }}">
        Target {{ target.pk }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view" >

    <h1>{{ current_target.title }}</h1>
    <div class="element_field objective-description">{{ current_target.body }}</div>

    <div class="row">
      <label>Table of contents:</label>

      {% if not current_target.actions_tree|length %}
      <ul class="span2">
        <li>No actions found</li>
      </ul>
      {% endif %}

      {% if current_target.actions_tree|length %}
      <ul class="span2">
        {% for action in current_target.actions_tree %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
      </ul>
      <ul class="span2">
        {% endif %}
        <li>
          <a href="#a{{ action.id }}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ action.description }}">
             Action {{ action.code }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
       </div>
      
      <label>Mapping with Aichi Strategy</label> 
      <div class ="well">
        <ul>
          {% for strategy in current_target.eu_aichi_strategy.all %}
             {% with strategy.aichi_targets.all as aichi_targets %}  
                {% for aichi_target in aichi_targets %}             
                 <li>
                   <a href = "{% url 'goals' code=aichi_target.get_parent_goal.code %}#t{{aichi_target.pk}}">Target {{aichi_target.code}}</a>
                 </li>
                {% endfor %}
             {% endwith %}
          {% endfor %}
        </ul>
      </div>

      <div>
      {% for action in current_target.actions_tree %}
      <div class="element_field" id="a{{ action.pk }}">
        <h2>Action {{ action.code }}</h2>
        <div>
          {{ action.description }}
        </div>
      </div>
      {% endfor %}

      <div class="row between-subobj">
        <a class="pull-right" href="#top">{{_('back to top')}}</a>
      </div>

    </div>

  </div>

</div>

{% endblock %}
