{% extends 'layout.html' %}
{% block content %}

{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">
  <label class="nav-header">EU Targets</label>
  <ul class="nav nav-tabs nav-stacked local-navigation">
    {% for target in targets %}
    <li {% if target.pk == current_target.pk %}class="active"{% endif %}>
      <a href="{% url 'eu_targets' code=target.code %}" title="{{ target.code }}">
        Target {{ target.code }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view" >

    <h1>{{ current_target.title }}</h1>
    <div class="element_field objective-description">{{ current_target.body }}</div>

    <div class="row">
      <label>Table of contents:</label>

      {% if not current_target.actions_tree|length %}
      <ul class="span2">
        <li>No actions found</li>
      </ul>
      {% endif %}

      {% if current_target.actions_tree|length %}
      <ul class="span2">
        {% for action in current_target.actions_tree %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
      </ul>
      <ul class="span2">
        {% endif %}
        <li>
          <a href="#{{ action.code }}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ action.description }}">
             Action {{ action.code }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
       </div>
      
      <label>Mapping with Aichi Strategy</label> 
      <div class ="well">
        {% if current_target.eu_aichi_strategy %}
        <ul>
          {% for strategy in current_target.eu_aichi_strategy.all %}  
            {% for aichi_target in strategy.aichi_targets.all %}             
              <li>
                <a href = "{% url 'goals' code=aichi_target.get_parent_goal.code %}#{{aichi_target.code}}">Target {{aichi_target.code}}</a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
        {% else %}
          <span>No data available.</span>
        {% endif %}
      </div>

      <div>
      {% for action in current_target.actions_tree %}
      <div class="element_field" id="{{ action.code }}">
        <h2>Action {{ action.code }}</h2>

        <div>
          {{ action.description }}
          <label>Mapping with National Strategy</label>
          <div class="row well">
            {% if action.national_strategy.all %}
              <ul>
                {% for strategy in action.national_strategy.all %}
                  <li>
                    <a href="{% url 'nat_strategy' code=strategy.objective.parent.code %}#{{ strategy.objective.code }}">Objective {{strategy.objective.code}}: {{ strategy.objective.title }} {{ strategy.objective.parent.code }}
                    </a>
                  </li>
                {% endfor %} 
              </ul>
            {% else %}
              <span>No data available</span>
            {% endif %}
          </div>
        </div>
        
      </div>
      {% endfor %}

      <div class="row between-subobj">
        <a class="pull-right" href="#top">{{_('back to top')}}</a>
      </div>

    </div>

  </div>

</div>

{% endblock %}
