{% extends 'layout.html' %}

{% load i18n %}
{% block title %}
    <title>NBSAP - {% trans "EU Targets" %}</title>
{% endblock %}

{% block content %}

{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">
  <label class="nav-header">{% trans "EU Targets" %}</label>
  <ul class="nav nav-tabs nav-stacked local-navigation">
    {% for target in targets %}
    <li {% if target.pk == current_target.pk %}class="active"{% endif %}>
      <a href="{% url 'eu_targets' code=target.code %}" title="{{ target.code }}">
        {% trans "Target" %} {{ target.code }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view" >

    <h1>{% trans "EU Target" %} {{ current_target.code }}: {{ current_target.title }}</h1>
    <div class="element_field objective-description">{{ current_target.body }}</div>

    <div class="row">
      <label>{% trans "Table of contents"%}:</label>

      {% if not current_target.actions_tree|length %}
      <ul class="span2">
        <li>{% trans "No actions found" %}</li>
      </ul>
      {% endif %}

      {% if current_target.actions_tree|length %}
      <ul class="span2">
        {% for action in current_target.actions_tree %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
      </ul>
      <ul class="span2">
        {% endif %}
        <li>
          <a href="#{{ action.code }}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ action.description }}">
             {% trans "Action" %} {{ action.code }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
       </div>

      <label>{% trans "EU indicators/sub-indicators" %}</label>
      <div class ="well">
        {% if current_target.indicators %}
        <ul>
          {% for indicator in current_target.indicators.all %}
            <li>
              {{ indicator.code }} {{indicator.title}}
              {% if indicator.parent.all %}
              <ul>
              {% for sub in indicator.parent.all %}
                <li>
                  {% if sub.url %}
                    <a href="{{ sub.url }}">
                      {{ sub.indicator_type|upper }} {{ sub.code }}: {{sub.title}}</a>
                  {% else %}
                    {{ sub.code }} {{ sub.title }}
                  {% endif %}
                  </li>
              {% endfor %}
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <span>{% trans "No data available" %}.</span>
        {% endif %}
      </div>

      <label>{% trans "Mapping with Aichi Strategy" %}</label>
      <div class ="well">
        {% if current_target.eu_aichi_strategy %}
        <ul>
          {% for strategy in current_target.eu_aichi_strategy.all %}
            {% for aichi_target in strategy.aichi_targets.all %}
              <li>
                <label class="target">{% trans "AICHI Target"%}</label> {{aichi_target.code}}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
        {% else %}
          <span>{% trans "No data available" %}.</span>
        {% endif %}
      </div>

      <div>
      {% for action in current_target.actions_tree %}
      <div class="element_field" id="{{ action.code }}">
        <h2>Action {{ action.code }}</h2>

        <div>
          {{ action.description }}
          <label>{% trans "Mapping with National Strategy" %}</label>
          <div class="row well">
            {% if action.national_strategy.all %}
              <ul>
                {% for strategy in action.national_strategy.all %}
                  <li>
                    {% if strategy.objective.parent %}
                    <a href="{% url 'nat_strategy' code=strategy.objective.parent.code %}#{{ strategy.objective.code }}">
                      {% trans "Objective" %} {{strategy.objective.code}}: {{ strategy.objective.title }} {{ strategy.objective.parent.code }}
                    </a>
                    {% else %}
                    <a href="{% url 'nat_strategy' code=strategy.objective.code%}">
                      {% trans "Objective" %} {{strategy.objective.code}}: {{ strategy.objective.title }} {{ strategy.objective.code }}
                    </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <span>{% trans "No data available" %}</span>
            {% endif %}
          </div>
        </div>

      </div>
      {% endfor %}

      <div class="row between-subobj">
        <a class="pull-right" href="#top">{% trans "Back to top" %}</a>
      </div>

    </div>

  </div>

</div>

{% endblock %}
