{% extends 'layout.html' %}
{% block content %}

{% load i18n %}
{% load utils %}

{% include 'nav_tabs.html' %}

{% if messages %}
<div class="messages alert alert-success">
{% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
</div>
{% endif %}

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs nav-stacked local-navigation">
    <label class="nav-header">{% trans "AICHI Goals" %}</label>
    {% for goal in goals %}
    <li {% if goal.code == current_goal.code %}class="active"{% endif %}>
      <a href="{% url 'goals' code=goal.code %}" title="{{ goal.code|upper }}"</a>
        {% trans "Goal" %} {{ goal.code | upper }}
      </a>
    </li>
    {% endfor %}

    <label class="nav-header">{% trans "Indicators" %}</label>
    {% for page,value in indicators_pages.items %}
    <li>
      <a href="{% url 'indicators' %}?page={{ page }}">
        {{ value }}
      </a>
    </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view">
    <h1>{% trans "Goal" %} {{ current_goal.code|upper }}: {{ current_goal.description }}</h1>
    <div class="row">
      <ul class="span2">
        {% for target in current_goal.targets.all %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
      </ul>
      <ul class="span2">
        {% endif %}
        <li>
          <a href="{% url 'goals' code=current_goal.code %}#{{target.code}}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ target.description }}">
             {% trans "Target" %} {{ target.code }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for target in current_goal.targets.all %}
    <div class="element_field" id="{{ target.code }}">
      <h2>{% trans "Target" %} {{ target.code }}: {{ target.description }}</h2>

      {% if target.eu_aichi_strategy.all and EU_STRATEGY %}
      <label>{% trans "Mapping with EU targets" %}:</label>
      <div class="well">
        <ul>
          {% for strategy in target.eu_aichi_strategy.all %}
            {% with strategy.eu_target as eu_target %}
            <li>
              <a href="{% url 'eu_targets' code=eu_target.code %}" title="{{ eu_target.code }}">
                {% trans "Target" %} {{ eu_target.code }}: {{ eu_target.title }}
              </a>
            </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {%if target.relevant_target_national_strategy.all %}
      <label>{% trans "Maping with National Strategy" %}</label>
      <div class="well">
        <ul>
          {% for strategy in target.relevant_target_national_strategy.all %}
          <li>
             <a href ="{% url 'nat_strategy' %}/{{strategy.objective.get_root_parent.code }}#{{strategy.objective.code}}">
              {% trans "Objective" %} {{ strategy.objective.code }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if target.indicators.all %}
      <label>{% trans "Most relevant indicators" %}:</label>
      <div class="well">
        <ul>
          {% for indicator in target.indicators.all %}
          <li>
            <a href="{% url 'indicators' %}?page={{ indicator.id|get_page }}#{{ indicator.id }}">
              {% trans "Indicator" %} {{indicator.id}}: {{ indicator.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if target.other_indicators.all %}
      <label>{% trans "Other relevant indicators" %}:</label>
      <div class="well">
        <ul>
          {% for indicator in target.other_indicators.all %}
          <li>
            <a href="{% url 'indicators' %}?page={{ indicator.id|get_page }}#{{ indicator.id }}">
              {% trans "Indicator" %} {{indicator.id}}: {{ indicator.title }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>

    <div class="row">
      <a class="pull-right" href="#top">{% trans "Back to top" %}</a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $("[rel=tooltip]").tooltip();
    $('.messages').delay(1000).fadeOut();
  });
</script>
{% endblock scripts %}
