{% extends 'layout.html'%}
{% block content %}

{% load utils %}
{% load markup %}
{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs nav-stacked local-navigation">
    <li>
      <label class="nav-header">Actions related to</label>
    </li>
    {% for objective in objectives %}
      <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
        <a href="{% url 'implementation' code=objective.code %}">Objective {{ objective.code }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view">

    <h1>Actions related to Objective {{ current_objective.code }}: {{ current_objective.title }} </h1>

    <div class="row">
      {% if current_objective.actions_tree %}
        <ul class="span2">
          {% for action in current_objective.actions_tree %}
              <li>
                <a href="#{{action.code}}"
                   rel='tooltip'
                   data-placement='right'
                   data-original-title="{{ action.description }}">
                   Action {{ action.code }}</a>
              </li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
      <div class="row">
      {% if current_objective.actions_tree %}
        {% for action in current_objective.actions_tree %}
        <div class="element_field" id="{{action.code}}">
          <h2>Action {{ action.code }}</h2>
          <div class="snippet">
            {{ action.description|truncatechars:510|safe }}
            <a class="more">{{_('show more')}}</a>
          </div>
          <div class="full">
          {{ action.description|safe }}

          {% include 'mapping/nat_action_aichi_mapping.html' %}

          <a class="less"> {{_('show less')}}</a>
          </div>
        </div>
        <div class="row between-subobj">
          <a class="pull-right" href="#top">{{_('back to top')}}</a>
        </div>

        {% endfor %}
      {% else %}
        <span>No actions found. </span>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
$(function () {
  $('.more').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    snippet.hide();
    full.show();
  });
  $('.less').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    full.hide();
    snippet.show();
  });
});

</script>
{% endblock scripts %}
