{% extends 'layout.html'%}

{% load i18n %}
{% load utils %}


{% block navmenu %}
  {% include 'nav_menu.html' %}
{% endblock %}


{% block sidebar %}
<div class="sidebar">
  <h4 class="sidebar-title">{% trans "Related actions" %}</h4>
  <ul class="sidebar-menu">
    {% if is_empty_page %}
    <li {% if not current_objective %} class="active" {% endif %}>
      <a href="{% url 'implementation_page' %}">{% trans "Intro" %}</a>
    </li>
    {% endif %}
    {% for objective in objectives|sort_by_code %}
    <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
      <a href="{% url 'implementation' code=objective.code %}">
        {% trans "Objective"%} {{ objective.code }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}


{% block content %}
  <h1>{{ page.title }}</h1>
  {{ page.body|safe }}
{% endblock content %}


{% block scripts %}
<script>
$(function () {
  $('.more').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    snippet.hide();
    full.show();
  });
  $('.less').on('click', function() {
    var parents = $(this).parents('.element_field');
    var snippet = parents.find('.snippet');
    var full = parents.find('.full');

    full.hide();
    snippet.show();
  });
});

</script>
{% endblock scripts %}
