{% load i18n %}

<ul class="nav nav-tabs nav-stacked local-navigation">
  <li {% if not current_objective %} class="active" {% endif %}>
    <a href="{% url 'implementation_page' %}">{% trans "Intro" %}</a>
  </li>
  <li style="margin-top: 10px;">
    <label class="nav-header">{% trans "Actions related to" %}</label>
  </li>
  {% for objective in objectives %}
    <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
      <a href="{% url 'implementation' code=objective.code %}">
        {% trans "Objective"%} {{ objective.code }}
      </a>
    </li>
  {% endfor %}
</ul>
