{% extends 'layout.html' %}
{% block content %}

{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs nav-stacked local-navigation">
    <label class="nav-header">AICHI Goals</label>
    {% for goal in goals %}
    <li>
      <a href="{% url 'goals' code=goal.code %}" title="{{ goal.code|upper }}"</a>
        Goal {{ goal.code | upper }}
      </a>
    </li>
    {% endfor %}

    <label class="nav-header">Indicators</label>
    <li {% if page == 1%}class="active"{% endif %}>
        <a href="{% url 'indicators' %}?page=1">1 to 20</a>
    </li>
    <li {% if page == 2%}class="active"{% endif %}>
        <a href="{% url 'indicators' %}?page=2">21 to 40</a>
    </li>
    <li {% if page == 3%}class="active"{% endif %}>
        <a href="{% url 'indicators' %}?page=3">41 to 60</a>
    </li>
    <li {% if page == 4%}class="active"{% endif %}>
        <a href="{% url 'indicators' %}?page=4">61 to 80</a>
    </li>
    <li {% if page == 5%}class="active"{% endif %}>
        <a href="{% url 'indicators' %}?page=5">81 to 97</a>
    </li>
  </ul>


  <div class="tab-content homepage_view">
  {% if indicators %}
    <h1>
      Indicators {{ indicators.0.id }}
      to {{ indicators_range }}
    </h1>

    <div class="row">
      <ul class="span8">
        {% for indicator in indicators %}
        <li>
          <a href="#indicator_{{indicator.id}}">
            Indicator {{ indicator.id }}: {{indicator.title}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for indicator in indicators %}
    <div class="indicator_homepage element_field" id="indicator_{{indicator.id}}">
      <h2>Indicator {{indicator.id}}: {{indicator.title}}</h2>

      {% include 'indicator_details.html' %}

    </div>
    {% endfor %}

  {% endif %}
  </div>

</div>

{% endblock %}