<!DOCTYPE html>

{% load i18n %}
{% load assets %}

<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!--[if lte IE 8]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if IE 8]>
      {% assets "ie8_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {% endassets %}
    <![endif]-->

    <!--[if IE 9]>
      {% assets "ie9_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
      {% endassets %}
    <![endif]-->

    {% assets "css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% block extra_head %}{% endblock %}

    {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
      {% include "ga.html" %}
    {% endif %}
  </head>

  <body>

    <div class="header">
      <div class="container">
        <div class="logo img">
          <img src="/static/CHM_logo_45x70px.png">
        </div>

        {% include "account_menu.html" %}

        <h1 class="site-title"><a href="{% url 'goals' %}">{% trans SITE_HEADER %}</a></h1>

        <div class="nav-container">
          {% block navmenu %}{% endblock %}
        </div>
      </div>
    </div>

    <div class="container content">
      {% if WARNING_MESSAGE %}
      <div class="alert alert-warning warning-demo">
          {{ WARNING_MESSAGE }}
      </div>
      {% endif %}

      {% block sidebar %}{% endblock %}
      <div class="main">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% block layout_footer %}
    <footer class="footer">
      <div class="container">
        <div class="pull-right">
          <a href="museum.be">
            <img src="/static/logo_irscnb.png">
          </a>
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block head_scripts %}

    {% assets "js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% endblock %}

    {% block scripts %}{% endblock %}
    {% block footer %}{% endblock %}

  </body>
</html>
