{% extends 'layout.html' %}
{% block content %}

{% load utils %}
{% load markup %}
{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs nav-stacked local-navigation">
    <label class="nav-header">Objectives</label>
    {% for objective in objectives %}
      <li {% if objective.pk == current_objective.pk %}class="active"{% endif %}>
        <a href="{% url 'nat_strategy' pk=objective.pk %}" title="{{ objective.pk }}"</a>
          Objective {{ objective.pk }}
      </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view" >
    <h1>{{ current_objective.title }}</h1>
    <div class="element_field objective-description">
      {{ current_objective.description|markdown }}
    </div>

    <div class="row">
      <label>Table of contents:</label>

      {% if not current_objective.objectives_tree|length %}
      <ul class="span2">
        <li>No sub-objectives found</li>
      </ul>
      {% endif %}

      {% if current_objective.objectives_tree|length %}
      <ul class="span1">
        {% for objective in current_objective.objectives_tree %}
        {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
      </ul>
      <ul class="span1">
        {% endif %}
        <li>
          <a href="#{{ objective.id }}"
             rel="tooltip"
             data-placement="right"
             data-original-title="{{ objective.title }}">
             Objective{{ objective.id }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="row">
      <ul class="span2">
        {% if not current_objective.actions %}
          <li>No related actions found</li>
        {% endif %}

        {% for action in current_objective.actions %}
          <li>
            <a href="#{{ action.id }}">
              Action {{ action.id }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    {% for subobj in current_objective.children.all %}
    <div class="element_field" id="{{ subobj.pk }}">
      <h2>{{ subobj.title }}</h2>

      <div class="snippet">
        {{ subobj.description|truncatechars:510|markdown }}
        <a class="more">show more</a>
      </div>
      <div class="full">
        {{ subobj.description|markdown }}
        <a class="less">show less</a>
      </div>

      <label>Mapping with AICHI:</label>
      <div class="row well">
        {% if subobj.objective_national_strategy.all %}
          <ul class="mapping-list">
          {% for strategy in subobj.objective_national_strategy.all %}

            {% with strategy.relevant_target.get_objective as goal %}  
              <li>
                <span class="mapping-header">Goal:</span>
                <span>
                  <a href="{% url 'goals' code=goal.code %}" title="{{ goal.code|upper }}">
                    <strong>goal {{ goal.code|upper }}</strong>: {{ goal.description }}
                  </a>
                </span>
              </li>

              {% with strategy.relevant_target as target %}
              <li>
                <span class="mapping-header">Most relevant AICHI target:</span>
                <span>
                  <a href="{% url 'goals' code=goal.code %}#target_{{target.id}}"
                     title="{{ target.id }}">
                    <strong>target {{ target.id }}</strong>: {{ target.description }}
                  </a>
                </span>
              </li>
              {% endwith %}

              {% if strategy.other_targets.all %}
              <li>
                <span class="mapping-header">Other relevant AICHI targets:</span>
                <ul class="other-targets">
                  {% for target in strategy.other_targets.all %}
                  <li>
                    <span>
                      <a href="{% url 'goals' code=goal.code %}#target_{{target.id}}"
                         title="{{ target.id }}">
                        <strong>target {{ target.id }}</strong>: {{ target.description }}
                      </a>
                    </span>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}

            {% endwith %}
          {% endfor %}
          </ul>
        {% else %}
          <span>No data available.</span>
        {% endif %}
      </div>

      <label>Mapping with EU:</label>
      <div class="row well">
      </div>

    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block scripts %}
  <script>
  $(function () {
    $("[rel=tooltip]").tooltip();

    $('.more').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      snippet.hide();
      full.show();
    });

    $('.less').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      full.hide();
      snippet.show();
    });
  });
  </script>
{% endblock scripts %}
