{% load i18n %}

<ul class="nav pull-right top-menu">

  {% for navbar_link in navbar_links %}
    <li class="navbar-link {% if forloop.last %}navbar-last-link{% endif %}">
      <a href="{{ navbar_link.url }}" target="_blank" title="{{ navbar_link.title }}">
        {{ navbar_link }}</a>
    </li>
  {% endfor %}

  <li class="dropdown">

    <a class="dropdown-toggle" data-toggle="dropdown">
      {{ request.LANGUAGE_CODE|upper }}<b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
      {% for lang in LANGUAGES %}
        <li>
          <a class="change-lang">{{ lang.1 }}</a>
          <form name="set_lang_{{ lang.0 }}" class="language-menu" action="{% url 'set_language' %}" method="POST">
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            <input name="language" type="hidden" value="{{ lang.0 }}">
          </form>
        </li>
      {% endfor %}
    </ul>

  </li>

  {% if user.is_authenticated %}
    <li class="dropdown">

      <a class="dropdown-toggle" data-toggle="dropdown">
        {% trans 'Panel' %}<b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li>
          <a href="{% url 'list_national_objectives' %}">{% trans 'Mappings' %}</a>
        </li>
        {% if user.is_staff %}
          <li>
            <a href="{% url 'admin:index' %}" class="change-lang">{% trans 'Administration' %}</a>
          </li>
          <li>
            <a href="{% url 'rosetta-home' %}">{% trans 'Translate' %}</a>
          </li>
        {% endif %}
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="icon-user"></i> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li class="nav-header">{{ user }}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </li>

  {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
  {% endif %}

</ul>
