{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "Home Page" %}
{% endblock %}


{% block navmenu%}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block content %}
  <div class="homepage-info">
    <h1 class="page-title">{% trans "Target Cross-linking tool" %}</h1>

    <div class="homepage-desc">
      <h2 class="homepage-title">The Target Cross-linking tool </h2>
      <p>
        The Target Cross-linking tool is a working tool to manage cross-linkages between biodiversity-related targets from the national to the EU and the global levels. It is intended to support national and regional assessment of progress and facilitate related reporting obligations.
      </p>
    </div>

    <ul class="page-list">
      <li class="homepage-goals">
        View the Aichi Strategy (<a href="{% url 'list_goals' %}">Goals and Targets</a>)
        <div class="goals-info"></div>
      </li>

      {% if EU_STRATEGY %}
        <li class="homepage-targets">
          View the EU Strategy (<a href="{% url 'eu_targets' %}">Targets, Actions</a> and <a href="{% url 'eu_indicators' %}">Indicators</a>)
          <div class="targets-info"></div>
        </li>
      {% endif %}

      {% if NAT_STRATEGY %}
        <li class="homepage-targets">
          View the <a href="{% url 'nat_strategy' %}">National Strategy</a>, <a href="{% url 'nat_indicators' %}">National Indicators</a> and the <a href="{% url 'implementation_page' %}">Implementation actions</a>
          <div class="targets-info"></div>
        </li>
      {% endif %}

      <li class="homepage-dashboard">
        Edit the content and mappings using the <a href="{% url 'admin_home'%}">Dashboard</a> (requires login) section.
      </li>
    </ul>
  </div>
{% endblock %}