{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "Home Page" %}
{% endblock %}


{% block navmenu%}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block content %}
  <div class="homepage-info info-translated">
    <h1 class="page-title">{% trans "Target Cross-linking tool" %}</h1>
    <div class="homepage-desc">
      <h2 class="homepage-title">The Target Cross-linking tool </h2>
      <p>
        The Target Cross-linking tool is a working tool to manage cross-linkages between biodiversity-related targets from the national to the EU and the global levels. It is intended to support national and regional assessment of progress and facilitate related reporting obligations.
      </p>
    </div>

    <ul class="page-list">
      <li class="homepage-goals">
        View the Aichi Strategy (<a href="{% url 'list_goals' %}">Goals and Targets</a>)
        <div class="goals-info"></div>
      </li>

      {% if EU_STRATEGY %}
        <li class="homepage-targets">
          View the EU Strategy (<a href="{% url 'eu_targets' %}">Targets, Actions</a> and <a href="{% url 'eu_indicators' %}">Indicators</a>)
          <div class="targets-info"></div>
        </li>
      {% endif %}

      {% if NAT_STRATEGY %}
        <li class="homepage-targets">
          View the <a href="{% url 'nat_strategy' %}">National Strategy</a>, <a href="{% url 'nat_indicators' %}">National Indicators</a> and the <a href="{% url 'implementation_page' %}">Implementation actions</a>
          <div class="targets-info"></div>
        </li>
      {% endif %}

      <li class="homepage-dashboard">
        Edit the content and mappings using the <a href="{% if EU_STRATEGY %}{% url 'list_eu_targets' %}{% else %}{% url 'list_national_objectives' %}{% endif %}">Dashboard</a> (requires login) section.
      </li>
    </ul>
    <div class="button-container">
      <p><button id="trigger-overlay" type="button">Click for more info about this website</button><p>
    </div>
  </div>
    <div class="overlay overlay-contentscale">
        <button type="button" class="overlay-close"></button>
        <nav>
            <ul>
              <li>
                <a href="{% url 'aichi_home' %}">Aichi</a>
                <p class='menu-desc'>The Aichi Biodiversity Targets are a set of 20, time-bound, measureable targets agreed by the Parties to the Convention on Biological Diversity in Nagoya, Japan, in October 2010, that are now being translated into revised national strategies and action plans by the 193 Parties to the Convention.
                </p>
              </li>

              {% if EU_STRATEGY %}
                <li>
                  <a href="{% url 'eu_targets' %}">
                    {% trans "EU Strategy" %}
                  </a>
                   <p class='menu-desc'>This section contians the Strategy towards implementing the Aichi Biodiversity Targets</p>
                </li>
               {% endif %}

              {% if NAT_STRATEGY %}
                <li>
                  <a href="{% url 'nat_strategy' %}">
                    {% trans "National Strategy" %}
                  </a>
                  <p class='menu-desc'>This section contians the Strategy towards implementing the Aichi Biodiversity Targets</p>
                </li>
              {% else %}
                <li>
                  <a href="{% url 'eu_indicators' %}">
                    {% trans "EU Indicators" %}
                  </a>
                  <p class='menu-desc'>This section contians the Strategy towards implementing the Aichi Biodiversity Targets</p>
                </li>
              {% endif %}

              {% if NAT_STRATEGY %}
                <li>
                  <a class="{% active request '^/national-strategy/indicators' %}" href="{% url 'nat_indicators' %}">
                    {% trans "National Indicators" %}
                  </a>
                  <p class='menu-desc'>Here you can see more details on the National Indicators</p>
                </li>
                <li>
                  <a class="{% active request '^/national-strategy/implementation' %}" href="{% url 'implementation_page' %}">
                    {% trans "Implementation" %}
                  </a>
                  <p class='menu-desc'>Here you can see more details on the implementation National Indicators</p>
                </li>
              {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
