{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "Home Page" %}
{% endblock %}


{% block navmenu%}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block content %}
<div class="homepage-info">
	<h1 class="page-title">{% trans "National Biodiversity Strategies and Action Plan " %}</h1>
	<h2 class="page-desc">This is platform for organizing the implementation of a country's national biodiversity strategy after AICHI (and by case after EU Strategy). </h2>
	<h2 class="page-list-title">Here you can:</h2>
	<ul class="page-list">
		<li class="homepage-goals"><a href="{% url 'list_goals' %}">View current AICHI Goals</a><div class="goals-info"></li>
		<li class="homepage-targets"><a href="{% url 'eu_targets' %}">View current EU Targets</a><div class="targets-info"></div></li>
		<li class="homepage-indicators"><a href="{% url 'eu_indicators' %}">View current EU Indicators</a><div class="indicators-info"></div></li>
		{% if user.is_superuser %}
			<li>You can also add new Goals, Targets or Indicators in the <a href="{% url 'admin_home'%}">Administration</a> section.</li>
		{% endif %}
	</ul>
</div>
{% endblock %}