{% extends 'layout.html' %}
{% block content %}

{% load markup %}

{% include 'admin_nav_tabs.html' %}

<h1 class="small">Action {{ action.code }}: {{ action.title }}</h1>

<div class="btn-toolbar">
  <div class="btn-group">

    <a class="btn btn-success btn-small"
       href="{% url 'view_national_objective' pk=objective.pk %}">
       <i class="icon-white icon-arrow-left"></i> Back</a>

    <a class="btn edit btn-small"
       href="{% url 'edit_national_action' objective=objective.pk pk=action.pk %}">Edit</a>

    <a class="btn btn-danger edit btn-small"
       href="{% url 'delete_national_action' objective=objective.pk pk=action.pk %}">
       <i class="icon-white icon-trash"></i> Delete</a>
  </div>
</div>

<div class="admin-obj-description">
  {{ action.description|markdown:"safe" }}
</div>


{% endblock %}