{% extends 'manager/base.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
NBSAP - {% trans "Mapping EU and Aichi strategies: Add" %}
{% endblock %}


{% block head_scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "Mapping EU and Aichi strategies" %}</h1>
</section>
<section class="content">
  {% if form.errors %}
  <p>
    {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
  </p>
  {% endif %}

  <form action="{% url 'edit_eu_aichi_strategy' %}" method="post">


    <div class="col-md-3">
      <div class="box box-primary">
      <div class="box-body">
        <div class="form-group">
          <label class="block" for="eu_targets">{% trans "EU Target" %}</label>
          {{ form.eu_targets }}
          {{ form.eu_targets.errors }}
        </div>


        <div class="form-group">
          <label class="block" for="aichi_goal">{% trans "AICHI Goal"%}</label>
          {{ form.aichi_goals }}
        </div>


        <div class="form-group">
          <label class="block" for="aichi_targets">{% trans "AICHI Targets" %}</label>

          {{ form.aichi_targets }}
          {{ form.aichi_targets.errors }}
        </div>
        <div class="form-group">
          <label class="block" for="other_aichi_targets">{% trans "Other AICHI Targets" %}</label>

          {{ form.other_aichi_targets }}
          {{ form.other_aichi_targets.errors }}
        </div>
        <div class="form-group">
          <label class="block" for="eu_indicators">{% trans "EU Indicators" %}</label>

          {{ form.eu_indicators }}
          {{ form.eu_indicators.errors }}
        </div>
        <div class="form-group">
          <label class="block" for="other_eu_indicators">{% trans "Other EU Indicators" %}</label>

          {{ form.other_eu_indicators }}
          {{ form.other_eu_indicators.errors }}
          </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
          <a href="{% url 'list_eu_aichi_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="timeline timeline-inverse eu_targets_text">
      </ul>
      <ul class="timeline timeline-inverse goal_text">
      </ul>
      <ul class="timeline timeline-inverse aichi_targets_text">
      </ul>
      <ul class="timeline timeline-inverse other_aichi_targets_text">
      </ul>
      <ul class="timeline timeline-inverse eu_indicators_text">
      </ul>
      <ul class="timeline timeline-inverse other_eu_indicators_text">
      </ul>
    </div>
  </form>
</section>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $(".chzn-select").chosen();
    // showEuTargetCodeValue('eu_targets',
    //   '.eu_targets_text',
    //   "{% url 'eu_target_title' pk=1 %}");
    showTargetCodeValue('aichi_targets',
      '.aichi_targets_text',
      "{% url 'aichi_target_title' pk=1 %}");
    showTargetCodeValue('other_aichi_targets',
      '.other_aichi_targets_text',
      "{% url 'aichi_target_title' pk=1 %}");
    showIndicatorCodeValue('eu_indicators',
      '.eu_indicators_text',
      "{% url 'eu_indicator_title' pk=1 %}");
    showIndicatorCodeValue('other_eu_indicators',
      '.other_eu_indicators_text',
      "{% url 'eu_indicator_title' pk=1 %}");

  });
  {% include '_bits/strategy_mapping.js' %}
</script>
{% endblock %}
