{% extends 'layout.html' %}

{% load i18n %}

{% block navmenu%}
  {% include '_bits/nav_menu.html' %}
{% endblock %}

{% block content %}
{% block pageerror %}
{% endblock %}
<ul>
	<li>You can also access:</li>
	<li><a href="{% url 'list_goals' %}">AICHI Goals</a></li>
	<li><a href="{% url 'eu_targets' %}">EU Targets</a></li>
	<li><a href="{% url 'eu_indicators' %}">EU Indicators</a></li>
	{% if user.is_authenticated %}
		<li><a href="{% url 'admin_home'%}">Administration</a></li>
	{% endif %}
</ul>
{% endblock %}