{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
  NBSAP - {% trans "Action" %} {{ action.code }}: {{ action.title }}
{% endblock %}


{% block navmenu %}
  {% include 'admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans "Action" %} {{ action.code }}: {{ action.title }}</h1>

  <div class="action-bar">
    <a class="btn btn-success"
       href="{% url 'view_national_objective' pk=objective.pk %}">
       <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}</a>

    <a class="btn btn-default edit"
       href="{% url 'edit_national_action' objective=objective.pk pk=action.pk %}">{% trans "Edit" %}</a>

    <a class="btn btn-danger edit">
       <i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}</a>
  </div>

  <div class="admin-obj-description">
    {{ action.description|safe }}
  </div>
{% endblock %}


{% block scripts %}
<script>
  $(function () {
    $('.messages').delay(1000).fadeOut();
  });

  $(".btn-danger").on("click", function (e) {
    e.preventDefault();
    if(confirm( " {% trans 'Are you sure you want to delete this action?' %}" )) {
      $.ajax({
        "url": $(this).attr("href"),
        "type": "DELETE",
        "success": function (data) {
        window.location = "{% url 'delete_national_action' objective=objective.pk pk=action.pk %}";
        }
      });
    }
  });

</script>
{% endblock scripts %}

