.coverage
*.DS_Store
.Python
*.egg-info/
*.pyc
sandbox_py27/*
*.swp
/bin
/lib
/include
/build
.webassets-cache
gen
*~
sandbox/*
fabfile/env.ini
/tct/static/node_modules
.vagrant
salt
Vagrantfile

docker/demo.env
docker/init.sql
docker/postgres.env
docker-compose.override.yml