version: '2'

services:
  nginx:
    image: eeacms/hello

  app:
    build: .
    ports:
    - "80"
    volumes:
    - .:/var/local/tct/

  postgres:
    volumes:
    - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
