beautifulsoup4==4.4.1
cssmin==0.2.0
django-appconf==1.0.1
django-assets==0.11
django-auth-ldap==1.2.6
django-chosen==0.1
django-rosetta==0.7.11
django-staticfiles==1.2.1
django-tinymce==2.3.0
django-webtest==1.7.8
django-widget-tweaks==1.4.1
Django==1.9.5
git+git://github.com/eaudeweb/django-transmeta.git@master
graypy==0.2.13
gunicorn==19.4.5
MySQL-python==1.2.5
natsort==4.0.4
openpyxl==2.3.0
python-ldap==2.4.20
raven==5.7.1
requests==2.9.0
six==1.9.0
supervisor==3.2.0
tablib==0.10.0
WebTest==2.0.20
wsgiref==0.1.2
