[program:nbsap]
directory=PROJECT_ROOT/
command=PROJECT_ROOT/sandbox/bin/python PROJECT_ROOT/manage.py run_gunicorn --bind=127.0.0.1:7000 --workers=2 --log-file=PROJECT_ROOT/gunicorn.log
autostart=true
autorestart=true
redirect_stderr=true

[unix_http_server]
file=PROJECT_ROOT//supervisor.sock   ; (the path to the socket file)
chmod=0700                       ; sockef file mode (default 0700)

[supervisord]
directory=PROJECT_ROOT/sandbox/
logfile=PROJECT_ROOT/supervisord.log ; (main log file;default $CWD/supervisord.log)
pidfile=PROJECT_ROOT/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
childlogdir=PROJECT_ROOT/            ; ('AUTO' child log dir, default $TEMP)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix://PROJECT_ROOT//supervisor.sock ; use a unix:// URL  for a unix socket
