{% extends 'layout.html' %}
{% block content %}

{% load utils %}
{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">

  <ul class="nav nav-tabs nav-stacked local-navigation">
    <label class="nav-header">AICHI Goals</label>
    {% for goal in goals %}
    <li>
      <a href="{% url 'goals' code=goal.code %}" title="{{ goal.code|upper }}"</a>
        Goal {{ goal.code | upper }}
      </a>
    </li>
    {% endfor %}

    <label class="nav-header">Indicators</label>
    {% for key,value in indicators_pages.items %}
    <li {% if key == page%}class="active"{% endif %}>
      <a href="{% url 'indicators' %}?page={{ key }}">
        {{ value }}
      </a>
    </li>
    {% endfor %}
  </ul>


  <div class="tab-content homepage_view">
  {% if indicators %}
    <h1>
      Indicators {{ indicators_pages|key:page }}
    </h1>

    <div class="row">
      <ul class="span8">
        {% for indicator in indicators %}
        <li>
          <a href="#{{indicator.id}}">
            Indicator {{ indicator.id }}: {{ indicator.title }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    {% for indicator in indicators %}
    <div class="indicator_homepage element_field" id="{{indicator.id}}">
      <h2>Indicator {{ indicator.id }}: {{ indicator.title }}</h2>

      {% include 'indicators/indicator_details.html' %}

      <div class="row">
        <a class="pull-right" href="#top">Back to top</a>
      </div>

    </div>
    {% endfor %}

  {% endif %}
  </div>

</div>

{% endblock %}
