{% extends "layout.html" %}
{% load i18n %}

{% block content %}

  {% if messages %}
    <div class="messages alert alert-success">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </div>
  {% endif %}

  {% include 'admin_nav_tabs.html' %}

  <div class="tabbable">
    <h1 class="small">Edit Introduction pages</h1>
    <table class="table table-bordered table-striped objectives_listing">

      <thead>
        <tr>
          <th>Page</th>
          <th>Page title</th>
        </tr>
      </thead>

      <tbody>
        {% for page in pages %}
        <tr>
          <td>
            {% url 'admin_page' handle=page.handle as page_url %}
            <a href="{{ page_url }}">{{ page.handle }}</a>
          </td>
          <td>{{ page.title }}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>


{% endblock %}
