{% extends 'cms/cms.html' %}
{% load i18n %}
{% load utils %}


{% block metadata %}
  <meta name="description" content="CMS Strategic Plan 2015 - 2023" />
  <meta property="og:title" content="List of CMS Goals" />
  <meta property="og:description" content="Here you can see the Strategic Plan for Migratory Species 2015 – 2023, along with the mapping with the Aichi Targets according to UNEP/CMS/Resolution 10.05." />
{% endblock %}


{% block content %}
  <h1 class="page-title">{% trans "CMS Goals" %}</h1>
  <ul class="list-goals-wrapper">
    {% for goal in goals %}
      <li>
        <a href="{% url 'list_cms_targets' code=goal.code %}" title="{{ goal.code }}"</a>
          <h2 class="list-goals-title">
            {% trans "Goal" %} {{ goal.code }}
          </h2>
          <p class="list-goals-desc">{{ goal.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
