{% extends 'layout-admin.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
NBSAP - {% trans "Mapping National Objectives: Add national strategy" %}
{% endblock %}


{% block extra_head %}
<script src='/static/js/jquery-1.11.1.min.js'></script>
{% endblock %}


{% block navmenu %}
{% include 'manager/admin_nav_tabs.html' %}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "Mapping National Objectives: Add national strategy" %}</h1>
</section>
<section class="content">

  {% if form.errors %}
  <p>
    {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
  </p>
  {% endif %}

  <form action="{% url 'edit_national_strategy' %}" method="post" id="national-strategy-add">
    <div class="col-md-3">
      <div class="box">
        <div class="box-body">
          <div class="error-list">{{ form.non_field_errors }}</div>

          <div class="form-group">
            <label class="block" for="nat_objective">{% trans "National Objective" %}</label>
            {{ form.nat_objective }}
          </div>

          <div class="form-group">
            <label class="block" for="aichi_goal">{% trans "AICHI Goal" %}</label>
            {{ form.aichi_goals }}
          </div>

          <div class="form-group">
            <label class="block" for="aichi_target">{% trans "Most relevant AICHI Target" %}</label>
            {{ form.aichi_targets }}
          </div>

          <div class="form-group">
            <label class="block" for="other_targets">{% trans "Other AICHI Targets" %}</label>
            {{ form.other_targets }}
          </div>
          {% if EU_STRATEGY %}
          <div class="form-group">
            <label class="block">{% trans "EU Targets" %}</label>
            {{ form.eu_targets }}
          </div>
          <div class="form-group">
            <label class="block">{% trans "EU Actions" %}</label>
           {{ form.eu_actions }}
          </div>
          {% endif %}
          <div class="form-group">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            <a href="{% url 'list_eu_aichi_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="timeline timeline-inverse objective_text">
      </ul>
      <ul class="timeline timeline-inverse goal_text">
      </ul>
      <ul class="timeline timeline-inverse target_text">
      </ul>
      <ul class="timeline timeline-inverse other_target_text">
      </ul>
      {% if EU_STRATEGY %}
      <ul class="timeline timeline-inverse eu_target_text">
      </ul>
      <ul class="timeline timeline-inverse actions_text">
      </ul>
      {% endif %}
    </div>
  </form>
</section>
{% endblock %}


{% block scripts %}

<script>
  {% include '_bits/national_strategy_mapping.js' %}
  {% include '_bits/strategy_mapping.js' %}
</script>
{% endblock %}
