{% extends 'layout-admin.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
NBSAP - {% trans "Mapping National Objectives: Add national strategy" %}
{% endblock %}


{% block extra_head %}
<script src='/static/js/jquery-1.11.1.min.js'></script>
{% endblock %}


{% block navmenu %}
{% include 'manager/admin_nav_tabs.html' %}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "Mapping National Objectives: Add national strategy" %}</h1>
</section>
<section class="content">

  {% if form.errors %}
  <p>
    {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
  </p>
  {% endif %}

  <form action="{% url 'edit_national_strategy' %}" method="post"
        id="national-strategy-add">

    <div class="error-list">{{ form.non_field_errors }}</div>

    <div class="form-group">
      <label for="nat_objective">{% trans "National Objective" %}</label>
      <div> {{ form.nat_objective }}
      </div>
      <div class="objective_text">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for="aichi_goal">{% trans "AICHI Goal"%}</label>
      <div> {{ form.aichi_goals }}
      </div>
      <div class="goal_text">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for="aichi_target">{% trans "Most relevant AICHI Targets" %}</label>
      <div> {{ form.aichi_targets }}
      </div>
      <div class="target_text">
      </div>
    </div>

    <div class="form-group">
      <label for="other_targets">{% trans "Other AICHI Targets" %}</label>
      <div> {{ form.other_targets }}
      </div>
      <div class="other_target_text">
      </div>
    </div>

    <hr>

    {% if EU_STRATEGY %}
    <div class="form-group">
      <label>{% trans "EU Targets" %}</label>
      <div> {{ form.eu_targets }}
      </div>
      <div class="eu_target_text">
      </div>
    </div>

    <div class="form-group">
      <label>{% trans "EU Actions" %}</label>
      <div> {{ form.eu_actions }}
      </div>
      <div class="actions_text">
      </div>
    </div>
    {% endif %}

    <div class="action-bar">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
      <a href="{% url 'list_national_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
    </div>

  </form>
</section>
{% endblock %}


{% block scripts %}

<script>
  {% include '_bits/national_strategy_mapping.js' %}
  {% include '_bits/strategy_mapping.js' %}
</script>
{% endblock %}

