{% extends 'layout.html' %}
{% load i18n %}
{% load assets %}

{% block title %}
    NBSAP - {% trans "Mapping National Objectives: Edit national strategy" %}
{% endblock %}

{% block extra_head %}
  <style>
    . textarea{width: 100%;}
    . textarea#id_title {height: 54px;}
  </style>

  <script src='/static/js/jquery-1.11.1.min.js'></script>

  {{ form.media }}
{% endblock %}


{% block navmenu %}
  {% include 'manager/admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans "Mapping National Objectives: Edit national strategy" %}</h1>

  {% if form.errors %}
    <p>
      {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
  {% endif %}

  <form action="{% url 'edit_national_strategy' pk=strategy.id %}" method="post" id="national-strategy-edit" class="form-horizontal">

    <div class="form-group row">
      <label class="col-md-2" for="nat_objective">{% trans "National Objective" %}</label>
      <div class="col-md-3"> {{ form.nat_objective }}
      </div>
      <div class="objective_text col-md-7 short-descrip">
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <label class="col-md-2" for="aichi_goal">{% trans "AICHI Goal" %}</label>
      <div class="col-md-3"> {{ form.aichi_goal }}
      </div>
      <div class="goal_text col-md-7 short-descrip">
      </div>
    </div>

    <hr>

    <div class="form-group row">
      <label class="col-md-2" for="aichi_target">{% trans "Most relevant AICHI Target" %}</label>
      <div class="col-md-3"> {{ form.aichi_target }}
      </div>
      <div class="target_text col-md-7 short-descrip">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2" for="other_targets">{% trans "Other AICHI Targets" %}</label>
      <div class="col-md-3"> {{ form.other_targets }}
      </div>
      <div class="other_target_text col-md-7 short-descrip">
      </div>
    </div>

    <hr>

    {% if EU_STRATEGY %}
    <div class="form-group row">
      <label class="col-md-2">{% trans "EU Targets" %}</label>
      <div class="col-md-3"> {{ form.eu_targets }}
      </div>
      <div class="eu_target_text col-md-7 short-descrip">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2">{% trans "EU Actions" %}</label>
      <div class="col-md-3"> {{ form.eu_actions }}
      </div>
      <div class="actions_text col-md-7 short-descrip">
      </div>

    </div>
    {% endif %}

    <div class="action-bar">
      <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
      <a href="{% url 'list_national_strategy' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
    </div>

  </form>
{% endblock %}

{% block scripts %}

  {% assets "js_admin" %}
     <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>
    {% include '_bits/national_strategy_mapping.js' %}
  </script>
{% endblock %}
