{% extends 'layout-admin.html' %}

{% load i18n %}
{% load assets %}


{% block title %}
NBSAP - {% trans "Mapping National Objectives to AICHI and EU targets" %}
{% endblock %}


{% block navmenu %}
{% include 'manager/admin_nav_tabs.html' %}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "Mapping National Objectives to AICHI and EU targets" %}</h1>
</section>
  {% url 'edit_national_strategy' as edit_strategy %}
  {% if strategies %}
  <table id="objectives-table" data-url="{{ edit_strategy }}" class="table objectives_listing table-striped table-bordered">

    <thead>
    <th class="obj-id">{% trans "Objective"%}</th>
    <th class="goal">{% trans "Goal" %}</th>
    <th class="">{% trans "Most Relevant Targets" %}</th>
    <th>{% trans "Other Relevant Targets" %}</th>
    {% if EU_STRATEGY %}
    <th>{% trans "EU Targets" %}</th>
    <th>{% trans "EU Actions" %}</th>
    {% endif %}
    <th>{% trans "Edit" %}</th>
    <th>{% trans "Delete" %}</th>
    </thead>

    <tbody>
    {% for strategy in strategies %}
    <tr>
      <td class="strategy" code=strategy.id>
        <a href="{% url 'view_national_objective' pk=strategy.objective.pk %}">
          {{ strategy.objective.code }}</a>
      </td>
      <td>
        {% for goal in strategy.goals_list %}
        <a href="{% url 'goals' code=goal.code %}">
          {{ goal.code|title }}</a>
        {% endfor %}
      </td>
      {% with strategy.relevant_targets.all as targets %}
      <td>
        {% for target in targets %}
        <a href="">{{ target.code }}</a>
        {% endfor %}
      </td>
      {% endwith %}
      <td>
        {% if strategy.other_targets.all %}
        {% for target in strategy.other_targets.all %}
        <a href="">{{ target.code }}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      </td>
      {% if EU_STRATEGY %}
      <td>
        {% if strategy.eu_targets.all %}
        {% for eu_target in strategy.eu_targets.all %}
        <a href="">{{ eu_target.code }}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      </td>
      <td>
        {% if strategy.eu_actions.all %}
        {% for action in strategy.eu_actions.all %}
        <a href="">{% trans "Action" %} {{ action.code }}</a>
        {% if not forloop.last %},{% endif %}
        {% endfor %}
        {% endif %}
      </td>
      {% endif %}
      <td style="text-align: center;">
        <a class="btn btn-mini btn-success add"
           href="{% url 'edit_national_strategy' pk=strategy.pk %}">{% trans "Edit" %}</a>
      </td>
      <td style="text-align: center;">
        <a class="btn btn-mini btn-danger" href="" code={{strategy.id }}>
          {% trans "Delete" %}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>

  </table>
  {% endif %}
</section>
{% endblock %}


{% block scripts %}

<script>

  $(document).ready(function () {

      $('#objectives-table').dataTable({
        "paging": false,
        "dom": '<"filter-wrapper"f>t'
      });
      var url=$('#objectives-table').data('url');
      $('.filter-wrapper').prepend('<div class="action-bar"><a class="btn btn-success add" href="'+url+'?category={{ category }}">{% trans "Add mapping" %}</a></div>');
    });




  $(".btn-danger").on("click", function (e) {
    e.preventDefault();
    var id = $(this).attr('code');
    if (confirm(" {% trans 'Are you sure you want to delete this mapping?' %}")) {
      $.ajax({
        "url": $(this).attr("href"),
        "type": "DELETE",
        "success": function (data) {
          window.location = "{% url 'delete_national_strategy' strategy=1 %}".replace('1', id);
        }
      });
    }
  });
</script>

{% endblock scripts %}

