
{% load i18n %}
{% load utils %}

<div class="well">
  <div class="well-title">{% trans "Mapping with EU" %}</div>

  {% if obj_eu_targets %}

    <h5>{% trans "EU Targets" %}</h5>
    <ul>
    {% for target, actions in obj_eu_targets.items %}
      <li>
        <a href="{% url 'eu_targets' code=target.code %}">
        {% trans "Target" %} {{ target.code }}</a>
        {{ target.title }}

        {% if actions %}
          <p>
            <h5>{% trans "Related EU Actions" %}</h5>
              <ul>
                {% for action in actions %}
                  <li>
                    <a href="{% url 'eu_targets' code=target.code %}#{{ action.code }}">
                    {% trans "Action" %} {{ action.code }}</a>
                    {{ action.description|safe }}
                  </li>
                {% endfor %}
              </ul>
          </p>
        {% endif %}

      </li>
    {% endfor %}
    </ul>

  {% else %}
    <p>{% trans "No corresponding EU target" %}.</p>
  {% endif %}

</div>
