
{% load i18n %}
{% load utils %}

<div class="mapping-wrapper">
  <div class="well">
    <h4 class="mapping" id="eu-mapping">{% trans "Mapping with EU" %}</h4>
    {% if subobj.eu_objects %}
      <div class="well-title">{% trans "EU Targets" %}</div>
      <ul>
      {% for target, actions in subobj.eu_objects.items %}
        <li>
          <a href="{% url 'eu_target_detail' pk=target.pk %}">
          {% trans "Target" %} {{ target.code }}</a>
          {{ target.title }}
        </li>
        {% if actions %}
                <ul class="related">
                <div class="well-title other">{% trans "Related EU Actions" %}</div>
                  {% for action in actions %}
                    <li>
                      <a href="{% url 'eu_target_detail' pk=target.pk %}#{{ action.code }}">
                      {% trans "Action" %} {{ action.code }}</a>
                      {{ action.description|safe }}
                    </li>
                  {% endfor %}
                </ul>
          {% endif %}
      {% endfor %}
      </ul>
    {% else %}
      <p class="no-corresponding">{% trans "No corresponding EU Target" %}.</p>
    {% endif %}
  </div>
</div>
