{% load i18n %}
{% load utils %}

<div class="well">
  <div class="well-title">{% trans "Mapping with AICHI" %}</div>
  {% with strategies=subobj.objective_national_strategy.all %}
    {% if strategies|length %}

      {% get_goals_for_strategies strategies=strategies as goals %}
      <h5>{% trans "AICHI Goals" %}</h5>
      <ul>
      {% for goal in goals %}
        <li>
          <a href="{% url 'goals' code=goal.code %}">
          {% trans "AICHI Goal" %} {{ goal.code|upper }}</a>
          <p>{{ goal.description|safe }}</p>
        </li>
      {% endfor %}
      </ul>

      {% get_targets_for_strategies strategies=strategies as targets %}
      <h5>{% trans "Most relevant AICHI targets" %}</h5>
      <ul>
      {% for target in targets %}
        {% assign target.get_parent_goal as goal %}
        {% if goal %}
        <li>
          <a href="{% url 'goals' code=goal.code %}#{{ target.code }}">
          {% trans "AICHI Target" %} {{ target.code }}</a>
          <p>{{ target.description|safe }}</p>
        </li>
        {% endif %}
      {% endfor %}
      </ul>

      {% get_other_targets_for_strategies strategies=strategies as other_targets %}
      {% if other_targets %}
        <h5>{% trans "Other relevant AICHI targets" %}</h5>
        <ul>
        {% for target in other_targets %}
          {% assign target.get_parent_goal as goal %}
          <li>
            <a href="{% url 'goals' code=goal.code %}#{{ target.code }}">
            {% trans "AICHI Target" %} {{ target.code }}</a>
            <p>{{ target.description|safe }}</p>
          </li>
        {% endfor %}
        </ul>
      {% endif %}

    {% else %}
      <p>{% trans "No corresponding AICHI target" %}.</p>
    {% endif %}
  {% endwith %}
</div>


<div class="well">
  <div class="well-title">{% trans "Mapping with National Indicators" %}</div>

  {% with indicators=subobj.nat_indicators.all %}
  {% with other_indicators=subobj.other_nat_indicators.all %}
    {% if indicators %}
      <h5>{% trans "Most relevant National Indicators" %}</h5>
      <ul>
      {% for indicator in indicators %}
        <li>
            <a href="{% url 'nat_indicators' %}#indicator-{{ indicator.id }}">
            {{ indicator.get_indicator_type_display }}{{ indicator.code }} {{ indicator.title }}</a>
          </li>
      {% endfor %}
      </ul>
    {% elif not other_indicators %}
      <p>{% trans "No corresponding National Indicators" %}.</p>
    {% endif %}

    {% if other_indicators %}
      <h5>{% trans "Other National Indicators" %}</h5>
      <ul>
      {% for indicator in other_indicators %}
        <li>
            <a href="{% url 'nat_indicators' %}">
            {% trans "National Indicator " %} {{ indicator.code }}</a>
          </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% endwith %}
</div>

