{% load i18n %}

<div class="well">
  <div class="well-title">{% trans "Mapping with AICHI" %}</div>
  {% with strategies=action.objective.objective_national_strategy.all %}
    {% if strategies|length %}
    <h5>{% trans "Goals" %}</h5>
    <ul>
      {% for strategy in strategies %}
        {% for relevant_target in strategy.relevant_targets.all %}
          {% with relevant_target.get_parent_goal as goal %}
          <li>
            <a href="{% url 'list_targets' code=goal.code %}" title="{{ goal.code|upper }}">
              {% trans "Goal" %} {{ goal.code|upper }}
            </a>
            <p>{{ goal.description|safe }}</p>
          </li>
          {% endwith %}
        {% endfor %}
      {% endfor %}
    </ul>
    <h5>{% trans "Most relevant AICHI targets" %}</h5>
    <ul>
      {% for strategy in strategies %}
        {% for target in strategy.relevant_targets.all %}
        <li>
          <a href="{% url 'list_targets' code=goal.code %}#{{target.code}}" title="{{ target.code }}">{% trans "Target" %} {{ target.id }}</a>
          <p>{{ target.description|safe }}</p>
        </li>
        {% endfor %}
      {% endfor %}
    </ul>
    <h5>{% trans "Other relevant AICHI targets" %}</h5>
    <ul>
      {% for strategy in strategies %}
        {% with strategy.other_targets.all as target %}
        <li>
          <a href="{% url 'list_targets' code=target.get_parent_goal.code %}#{{ target.code }}" title="{{ targe.code }}">{% trans "Target" %} {{ target.id }}</a>
          <p>{{ target.description|safe }}</p>
        </li>
        {% endwith %}
      {% endfor %}
    </ul>
    {% else %}
      <p>{% trans "No corresponding AICHI target" %}.</p>
    {% endif %}
  {% endwith %}
</div>
