DEBUG = False
TEMPLATE_DEBUG = DEBUG

ASSETS_ROOT = 'src/nbsap/static'
ALLOWED_HOSTS = ['localhost', '127.0.0.1']

# define your language preference
ugettext = lambda s: s
LANGUAGE_CODE = 'en'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'nbsap',
        'USER': 'nbsap',
        'PASSWORD': 'nbsap',
        'HOST': '',
        'PORT': '',
        'TEST_CHARSET': 'utf8',
        'TEST_COLLATION': 'utf8_general_ci',
    }
}


LANGUAGES = (
  ('en', ugettext('English')),
  ('cs', ugettext('Czech')),
  ('sq-al', ugettext('Albanian')),
  ('lt', ugettext('Lithuanian')),
  ('hy', ugettext('Armenian')),
  ('fr', ugettext('French')),
  ('nl', ugettext('Dutch')),
  ('ru', ugettext('Russian')),
  ('tr', ugettext('Turkish')),
  ('pl', ugettext('Polish')),
  ('ky', ugettext('Kyrgyz')),
  ('bg', ugettext('Bulgaria')),
  ('de-at', ugettext('German')),
  ('az-az', ugettext('Azeri')),
  ('uk', ugettext('Ukrainian')),
  ('tk', ugettext('Turkmen')),
  ('be-by', ugettext('Belarusian')),
  ('se-se', ugettext('Sami')),
  ('uz', ugettext('Uzbek')),
  ('sk', ugettext('Slovak')),
  ('fi', ugettext('Finnish')),
  ('no', ugettext('Norwegian')),
  ('is', ugettext('Icelandic')),
  ('de-de', ugettext('German')),
  ('fr-ch', ugettext('French')),
  ('de-ch', ugettext('German')),
  ('it-ch', ugettext('Italian')),
  ('ro', ugettext('Romanian')),
  ('de-li', ugettext('German')),
  ('hu', ugettext('Hungarian')),
  ('bs-ba', ugettext('Bosnian')),
  ('lv', ugettext('Latvian')),
  ('it-it', ugettext('Italian')),
  ('fr-mc', ugettext('French')),
  ('sl', ugettext('Slovenian')),
  ('ka', ugettext('Georgian')),
  ('hr-hr', ugettext('Croatian')),
  ('mk', ugettext('Macedonian')),
  ('sr', ugettext('Montenegrin')),
  ('ca', ugettext('Catalan')),
  ('sr', ugettext('Serbian')),
  ('sq', ugettext('Albanian')),
  ('tg', ugettext('Tajik')),
  ('kk', ugettext('Kazakh')),
  ('pt-pt', ugettext('Portuguese')),
  ('mt', ugettext('Maltese')),
  ('et', ugettext('Estonian')),
  ('fr-lu', ugettext('French')),
  ('de-lu', ugettext('German')),
  ('es-es', ugettext('Spanish')),
  ('md', ugettext('Moldavian')),
  ('da-dk', ugettext('Danish')),
  ('el-gr', ugettext('Greek')),
)

# Set to True if your application is EU dependent
#EU_STRATEGY = False

# Set to False for EU intance
#NAT_STRATEGY = True

# Template settings
#SITE_HEADER = 'Your site header'

# Set to True for information header
#INFO_HEADER = False
