/*  fixings for IE8 
    The site is optimised for 1280px width resolutions */

body .navbar-inner {
  filter: none;
}

body .container, 
body  .navbar-static-top .container, 
body  .navbar-fixed-top .container, 
body  .navbar-fixed-bottom .container {
  width: 93.5%;
  max-width: 1158px;
}

.container.footer {
  background: #fff;
  padding-left: 15px;
  padding-bottom: 20px;
}

.modal-backdrop {
  filter:alpha(opacity=0) !important;
}

.sep .icon-chevron-down,
.sep .icon-chevron-up {
  filter:alpha(opacity=5);
}

.tooltip.in {
	filter: alpha(opacity=95);
}

.navbar-inner .span2 {
  width: 170px;
}

.navbar-inner .span8 {
  width: 770px;
}

body .global-menu, 
body .navbar .nav.top-menu, 
body .site-logo {
  background: url("semi-transparent-background.png") repeat-x;
}

