/* bootstrap override */
.tooltip {
  font-size: 11px;
}

.tooltip.in {
  opacity: 0.95;
}

.tooltip-inner {
  max-width: 800px;
  background-color: white;
  color: #000;
  border: 1px solid #888;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* bootstrap extension */
.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.big-modal {
  margin: -250px 0 0 -400px;
  width: 800px;
}
.modal-body {
  padding-bottom: 45px;
}

.fullsize-modal {
  margin: -250px 0 0 -489px;
  height: 550px;
  width: 990px;
}
  .fullsize-modal .modal-body {
    max-height: 471px;
    font-size: 12px;
  }


/* bootstrap fixes */
.form-group input,
.form-group select,
.form-group textarea {
  display: block;
  width: 100%;
}
input,
select,
textarea {

  display: inline-block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
input::-moz-placeholder,
select::-moz-placeholder,
textarea::-moz-placeholder {
  color: #999;
  opacity: 1;
}
input:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999;
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
.pull-right {
  float: right!important;
}

.pull-left {
  float: left!important;
}

[data-toggle]:hover,
[role="button"]:hover {
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.modal {
  outline: none;
}

/* datatables */
.dataTables_wrapper {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #eee;
}
.dataTables_wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.dataTable {
  clear: both;
  border: 1px solid #ddd;
}
  .dataTable th,
  .dataTable td {
    border-color: inherit;
  }
  .dataTable thead th {
    color: gray;
    font-weight: normal;
    background-color: #f2f2f2;
    vertical-align: top;
  }
  .dataTable thead th:hover,
  .dataTable thead th:focus {
    cursor: pointer;
    outline: none;
  }
  .dataTables_info,
  .dataTables_length {
    float: left;
    margin-bottom: 1em;
  }
  .dataTables_paginate,
  .dataTables_filter {
    float: right;
  }
  .dataTables_paginate a {
    display: inline-block;
    margin-left: .5em;
  }
  .dataTable .sorting_asc,
  .dataTable .sorting_desc {
    font-weight: bold;
    color: inherit;
  }

/* base */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: auto;
  font-weight: bold;
}
h1 {
  font-size: 30px;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
}

/* theme */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 0px;
  font-family: Arial, sans-serif;
  position: relative;
}

.header {
  margin-bottom: 2em;
  padding: 16px 0;
  background: url("../header.png") 0 0 no-repeat;
}

.logo {
  float: left;
  padding: 4px 8px;
  margin-right: 16px;
  border-radius: 4px;
  background: #fff;
}

.nav-container {
  padding: 0 16px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 0, 0, 0.75);
}
  .nav-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-bottom: -16px;
  }
  .nav-menu:after {
    content: '';
    display: table;
    clear: both;
  }
    .nav-menu > li {
      float: left;
    }
    .nav-menu a {
      display: block;
      padding: 0 16px;
      line-height: 36px;
      color: #fff;
      text-decoration: none;
    }
    .nav-menu a:hover {
      color: #fff;
      background: #039749;
    }
    .nav-menu .active {
      position: relative;
      color: #04e26d;
    }
    .nav-menu .active:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -6px;
      border: 6px solid transparent;
      border-bottom-color: #fff;
    }

.account-menu {
  list-style: none;
  float: right;
  margin-top: -16px;
  padding: 0 8px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(0, 0, 0, 0.75);
}
.account-menu:after {
  content: '';
  display: table;
  clear: both;
}
  .account-menu .caret {
    border-top-color: #fff;
  }
  .account-menu > li {
    float: left;
  }
  .account-menu > li > a {
    display: block;
    color: #fff;
    padding: 0 8px;
  }
  .account-menu a:hover {
    text-decoration: none;
  }
  .account-menu form {
    margin: 0;
  }

.content {
  margin-top: 2em;
}
  .content:after {
    content: '';
    display: table;
    clear: both;
  }

.sidebar {
  float: left;
  box-sizing: border-box;
  width: 180px;
  padding-right: 24px;
}
  .sidebar-title {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: auto;
  }
  .sidebar-menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 12px;
  }
    .sidebar-menu a {
      display: block;
      line-height: 20px;
      color: #333333;
      margin: 0 -8px;
      padding: 3px 8px;
      border-radius: 4px;
    }
    .sidebar-menu a:hover {
      color: #fff;
      text-decoration: none;
      background: #039749;
    }
    .sidebar-menu .active a {
      background-color: #eee;
    }

.sidebar + .main {
  margin-left: 180px;
}

.section {
  padding-top: 1em;
  margin-bottom: 1em;
  border-top: 1px solid #eee;
}

.footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid #eee;
  color: gray;
}

.page-title {
  color: #039749;
}

.site-title {
  font-size: 24px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 48px;
}
  .site-title a {
    color: #fff;
  }

.html-content {
  padding: 10px;
}
  .html-content h1 {
    font-size: 20px;
  }
  .html-content h2 {
    font-size: 18px;
  }
  .html-content h3 {
    font-size: 16px;
  }
  .html-content h4 {
    font-size: 14px;
  }

.well {
  padding: 10px;
  background: transparent;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.1);
}
  .well-title {
    margin: -10px -10px 10px;
    padding: 3px 10px;
    font-size: 14px;
    color: #777;
    border-bottom: 1px solid #e3e3e3;
  }
  .well .html-content {
    margin: -10px;
  }

.toc {
  border-radius: 4px;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #eee;
}
  .toc h5 {
    margin-top: auto;
  }
  .toc ul {
    margin: auto;
    list-style: none;
    overflow: hidden;
  }
  .toc ul li {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 25%;
  }
  .toc ul li:before {
    content: "\2022 ";
  }

.action-bar {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-bottom: 10px;
  /*border-radius: 4px;*/
  /*box-shadow: inset 0 0 3px 0 rgba(0,0,0,.2);*/
  /*background-color: #f2f2f2;*/
}

.summary {
  margin-bottom: 2em;
}
  .full {
    display: none;
  }
  .less:hover,
  .more:hover {
    cursor: pointer;
  }

.errorlist {
  color: red;
}

.modal-open {
  overflow: hidden;
}
.modal-open .modal-container {
  display: block;
}
.modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
}
  .modal-container .container {
    position: relative;
    height: 100%;
  }
  .modal-window {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 80px;
    left: 0;
  }
  .modal-window.active {
    display: block;
  }
  .modal-top,
  .modal-bot {
    position: absolute;
    right: 0;
    left: 0;
    padding: 12px;
    /*background-color: #f2f2f2;*/
  }
  .modal-top {
    bottom: 100%;
  }
  .modal-mid {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 12px 18px;
    /*border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;*/
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgba(0,0,0, .8);
  }
  .modal-bot {
    top: 100%;
  }
