{% load i18n %}
{% load utils %}


<div class="accountwrapper">
  <div class="account-menu-header" data-click="user">
    <span class="user">
      {% if user.is_authenticated %}
          <a class="account-menu-trigger">  <i class="fa fa-caret-right" id="user-close"></i> {{ user }} </a>
      {% else %}
          <a class="{% active 'login' %}" href="{% url 'login' %}">{% trans "Login" %}</a>
      {% endif %}
    </span>
  </div>
  <ul class="account-menu" data-click="user">
    {% for navbar_link in navbar_links %}
      <li>
          <a href="{{ navbar_link.url }}" target="_blank" title="{{ navbar_link.title }}">{{ navbar_link }}</a>
      </li>
    {% endfor %}
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <li>
          <a href="{% if NAT_STRATEGY %}{% url 'list_national_objectives' %}{% else %}{% url 'list_eu_targets' %}{% endif %}">
            {% trans 'Dashboard' %}
          </a>
        </li>
        {% if LANGUAGES|length > 1 %}
          <li>
            <a href="{% url 'rosetta-home' %}">{% trans 'Translate' %}</a>
          </li>
        {% endif %}
      {% endif %}
      <li>
        <a href="{% url 'logout' %}">
          {% trans "Logout" %}
        </a>
      </li>
    {% endif %}
  </ul>
  {% ifnotequal LANGUAGES|length 1 %}
    <div class="lang-menu-header" data-click="lang">
      <span class="lang">
        <a class="lang-menu-trigger"><i class="fa" id="lang-close"></i>
          {{ request.LANGUAGE_CODE|upper }}
        </a>
      </span>
    </div>
    <ul class="lang-menu" data-click="lang">
      {% for lang in LANGUAGES %}
        <li class="change-lang-wrapper">
          <a class="change-lang">{{ lang.1 }}</a>
          <form name="set_lang_{{ lang.0 }}" class="language-menu" action="{% url 'set_language' %}" method="POST">
            <input name="next" type="hidden" value="{{ request.get_full_path }}">
            <input name="language" type="hidden" value="{{ lang.0 }}">
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endifnotequal %}
</div>
