{% load i18n %}
{% load utils %}

{% if indicators.count %}
  <ul>
    {% for eu_indicator in indicators|sort_by_type_and_code %}
      <li>
        <a href="{% url 'eu_indicator_details' pk=eu_indicator.pk %}#{{ eu_indicator.pk }}"
           title="{{ eu_indicator.title }}">
          {{ eu_indicator.indicator_type|upper }}
          {{ eu_indicator.code }} 
        </a>
        <p class="content-description">{{ eu_indicator.title }}</p>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="no-corresponding">{% trans 'No corresponding EU indicator.' %}</p>
{% endif %}
