{% load i18n %}
{% load utils %}

{% if indicators.count %}
  <ul>
    {% for eu_indicator in indicators.all|sort_by_code|sort_by_type %}
        <li>
          <a href="{% url 'eu_indicators' %}#indicator-{{ eu_indicator.id }}"
             title="{{ eu_indicator.title }}">
            {{ eu_indicator.indicator_type|upper }}
            {{ eu_indicator.code }}: 
          </a><p class="content-description">{{ eu_indicator.title }}</p>
        </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="no-corresponding">{% trans 'No corresponding EU indicator.' %}</p>
{% endif %}
