{% load utils %}
{% load i18n %}


<ul class="nav-menu">
  <li>
    <a class="{% active 'aichi_home' 'list_goals' 'list_targets' 'aichi_target_detail' 'goals' %}"
       href="{% url 'aichi_home' %}">
      {% trans "Aichi" %}
    </a>
  </li>

  <li>
    <a class="{% active 'cms_home' 'list_goals' 'list_targets' 'cms_target_detail' %}"
       href="{% url 'cms_home' %}">
      {% trans "CMS" %}
    </a>
  </li>

  <li>
    <a class="{% active 'ramsar_home' 'list_goals' 'list_targets' 'ramsar_target_detail' %}"
       href="{% url 'ramsar_home' %}">
      {% trans "Ramsar" %}
    </a>
  </li>

  {% if EU_STRATEGY %}
    <li>
      <a class="{% active 'eu_targets' 'eu_target_detail' %}" href="{% url 'eu_targets' %}">
        {% trans "EU Strategy" %}
      </a>
    </li>
  {% endif %}

  {% if NAT_STRATEGY %}
    <li>
      <a class="{% active 'nat_strategy' %}" href="{% url 'nat_strategy' %}">
        {% trans "National Strategy" %}
      </a>
    </li>
  {% else %}
    <li>
      <a class="{% active 'eu_indicators' 'eu_indicator_details' %}" href="{% url 'eu_indicators' %}">
        {% trans "EU Indicators" %}
      </a>
    </li>
  {% endif %}

  {% if NAT_STRATEGY %}
    <li>
      <a class="{% active 'nat_indicators' 'nat_indicator_detail' %}" href="{% url 'nat_indicators' %}">
        {% trans "National Indicators" %}
      </a>
    </li>
    <li>
      <a class="{% active 'implementation' 'implementation_page' %}" href="{% url 'implementation_page' %}">
        {% trans "Implementation" %}
      </a>
    </li>
  {% endif %}
  <li class="trigger-overlay-wrapper">
    <a class="trigger-overlay" type="button">{% trans 'About' %}</a>
  </li>
  {% include '_bits/about_page.html' %}
</ul>