{% load i18n %}
{% block head_scripts %}
{{ form.media }}
{% endblock %}
{% block content %}
<section class="content-header">
    <h1 class="page-title">{% trans "Add new National Indicator" %}</h1>
</section>
<section class="content">
    {% if form.errors %}
    <p>
        {% blocktrans with form.errors|pluralize as errors %}Please correct the error{{ errors }} below.{% endblocktrans %}
    </p>
    {% endif %}
    <div class="row">
        <div class="col-md-6 form-wrapper">
            <form action="" method="post" class="form">
                <div class="form-group">
                    <label class="block" for="language">{% trans "Language" %}</label> {{ form.language }}
                </div>
                {% if form.code %}
                <div class="form-group">
                    <label class="block" for="code">{% trans "Code" %}</label> {{ form.code }} {{ form.code.errors }}
                </div>
                {% endif %}
                <div class="language-container">
                    <div class="form-group">
                        <label class="block" for="title">{% trans "Title" %}</label> {{ form.title }} {{ form.title.errors }}
                    </div>
                    <div class="form-group">
                        <label class="block" for="url">{% trans "Category" %}</label> {{ form.category }} {{ form.category.errors }}
                    </div>
                    <div class="form-group">
                        <label class="block" for="url">{% trans "URL" %}</label> {{ form.url }} {{ form.url.errors }}
                    </div>
                    <div class="action-bar">
                        <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                        <a href="{% url 'list_nat_indicators' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
                    </div>
            </form>
            </div>
        </div>
</section>
{% endblock %}
