{% extends 'manager/base.html' %}

{% load i18n %}
{% load assets %}


{% block title %}
  NBSAP - {% trans "National Indicators: List Indicators" %}
{% endblock %}


{% block content %}

  {% get_current_language as lang_code %}

  <h1 class="page-title">{% trans "National Indicators" %}</h1>
  <h1>{% trans "List National Indicators" %}</h1>

  <ul class="nav nav-tabs">
    <li class="{% if category == 'headline' %}active{% endif %}">
      <a href="{% url 'list_nat_indicators' %}?category=headline">Headline indicators</a>
    </li>
    <li class="{% if category == 'other' %}active{% endif %}">
      <a href="{% url 'list_nat_indicators' %}?category=other">Other indicators</a></li>
</ul>

  <div class="action-bar">
    <a class="btn btn-success add"
       href="{% url 'edit_nat_indicator' %}?category={{ category }}">{% trans "Add indicator" %}
    </a>
  </div>

  {% if indicators %}
  <table class="table">

    <thead>
    <tr>
      <th>{% trans "Code" %}</th>
      <th>{% trans "Title" %}</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for indicator in indicators %}
      <tr>
        <td>
          <strong>
            <a href="{% url 'view_nat_indicator' pk=indicator.pk %}">
              {{ indicator.code }}
            </a>
          </strong>
        </td>
        <td>
          <strong><a href="{% url 'view_nat_indicator' pk=indicator.pk %}">
            {{ indicator.title }}
          </a></strong>
        </td>
        <td>
          <a class="btn btn-default"
             href="{% url 'edit_nat_indicator' pk=indicator.pk %}">{% trans "Edit" %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p><em>No indicators found.</em></p>
  {% endif %}

{% endblock %}

{% block scripts %}

  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

{% endblock scripts %}
