{% extends 'manager/base.html' %}
{% load assets %}
{% load i18n %}

{% block title %}
NBSAP - {% trans "Map Indicator " %}{{ indicator.code }}
{% endblock %}

{% block head_scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "National Indicators" %}</h1>
</section>
<section class="content">
  <h2>{% trans "Map National Indicator" %} {{ indicator.code }}</h2>
  {% if form.errors %}
  <p>
    {% blocktrans with form.errors|pluralize as errors %}Please correct the
    error{{ errors }} below.{% endblocktrans %}
  </p>
  {% endif %}
  <form action="" method="post">
    <div class="error-list">{{ form.non_field_errors }}</div>
    <hr>
    <div class="col-md-3">
      <div class="box">
        <div class="box-body">
          <div class="form-group">
            <label class="block" for="nat_objectives">{% trans "Most relevant National Objectives" %}</label>
            {{ form.nat_objectives }}
            {{ form.nat_objectives.errors }}
          </div>
          <div class="form-group">
            <label class="block" for="other_nat_objectives">{% trans "Other National Objectives" %}</label>
            {{ form.other_nat_objectives }}
            {{ form.other_nat_objectives.errors }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            <a href="{% url 'view_nat_indicator' pk=indicator.pk %}" class="btn btn-default" type="button">
              {% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="timeline timeline-inverse nat_objectives_text">
      </ul>
      <ul class="timeline timeline-inverse other_nat_objectives_text">
      </ul>
    </div>
  </form>
</section>
{% endblock %}

{% block scripts %}
<script>
  $(".chzn-select").chosen();

  forbidCrossChoicesIntersection('nat_objectives', 'other_nat_objectives');

  showTargetCodeValue('nat_objectives',
    '.nat_objectives_text',
    "{% url 'objective_title' pk=1 %}");

  showTargetCodeValue('other_nat_objectives',
    '.other_nat_objectives_text',
    "{% url 'objective_title' pk=1 %}");
</script>
{% endblock %}
