{% extends 'manager/base.html' %}

{% load i18n %}
{% load utils %}

{% block title %}
  NBSAP - {% trans "Indicator" %} {{ indicator.code }}: {{indicator.title }}
{% endblock %}

{% block content %}
<section class="content-header">
  <h1 class="page-title">
    {% if indicator.code %}
      {% trans "Indicator" %} {{ indicator.code }}:
    {% endif %}
      {{ indicator.title }}
  </h1>
</section>
<section class="content">
  <div class="box">
    <div class="box-header with-border action-bar filter-wrapper">
          <a class="btn btn-success" href="javascript: history.go(-1)">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}
      </a>
      <a class="btn btn-default"
         href="{% url 'map_nat_indicator' pk=indicator.pk %}">{% trans "Mapping" %}</a>
      </div>
  <div class="box-body">
  {% if indicator.url %}
  URL: <a href="{{ indicator.url }}">
    {{ indicator.code|default:'' }}: {{indicator.title}}</a>
  {% else %}
    {{ indicator.code|default:'' }} {{ indicator.title }}
  {% endif %}
    {{ indicator.description|safe }}
  {% if indicator.nat_objectives.exists %}
      <h2>{% trans "Mapping with National Objectives" %}</h2>
      <h4>Most relevant</h4>
      <ul>
      {% for objective in indicator.nat_objectives.all %}
        <li>{{ objective.code }} {{ objective.title }}</li>
      {% endfor %}
      </ul>
      {% if indicator.other_nat_objectives.count %}
      <h4>Other</h4>
      <ul>
      {% for objective in indicator.other_nat_objectives.all %}
        <li>{{ objective.code }} {{ objective.title }}</li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endif %}
</div>
</div>
</section>
{% endblock %}

{% block scripts %}
  <script src="/static/js/object_delete.js"></script>
{% endblock scripts %}
