{% extends 'manager/base.html' %}

{% load i18n %}
{% load utils %}

{% block title %}
  NBSAP - {% trans "Indicator" %} {{ indicator.code }}: {{indicator.title }}
{% endblock %}


{% block content %}

  <h1 class="page-title">
    {% if indicator.code %}
      {% trans "Indicator" %} {{ indicator.code }}:
    {% endif %}
      {{ indicator.title }}
  </h1>

  <div class="action-bar">
    <form method="POST" action="{% url 'delete_nat_indicator' pk=indicator.pk %}">
      <a class="btn btn-success" href="{% url 'list_nat_indicators' %}">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}
      </a>

      <a class="btn btn-default"
         href="{% url 'edit_nat_indicator' pk=indicator.pk %}">{% trans "Edit" %}</a>

      <a class="btn btn-default"
         href="{% url 'map_nat_indicator' pk=indicator.pk %}">{% trans "Mapping" %}</a>

      <button type="submit" class="btn btn-danger edit"
              data-message="{% trans 'Are you sure you want to delete this indicator?' %}">
        <i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}
      </button>
    </form>
  </div>

  <div>
  {% if indicator.url %}
  URL: <a href="{{ indicator.url }}">
      {{ indicator.get_indicator_type_display }} {{ indicator.code|default:'' }}: {{indicator.title}}</a>
  {% else %}
    {{ indicator.code|default:'' }} {{ indicator.title }}
  {% endif %}
  </div>

  {% if indicator.subindicators.exists %}
    <h2>{% trans 'Subindicators' %}</h2>
    <ul>
      {% for subindicator in indicator.subindicators.all %}
        <li>
          <a href="{% url 'view_nat_indicator' pk=subindicator.pk %}">
            {{ subindicator.code }}: {{ subindicator.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if indicator.targets.exists %}
      <h2>{% trans "Mapping with National Objectives" %}</h2>
      <h4>Most relevant</h4>
      <ul>
      {% for target in indicator.targets.all %}
        <li>{{ target.code }} {{ target.title }}</li>
      {% endfor %}
      </ul>

      {% if indicator.other_targets.count %}
      <h4>Other</h4>
      <ul>
      {% for target in indicator.other_targets.all %}
        <li>{{ target.code }} {{ target.title }}</li>
      {% endfor %}
      </ul>
      {% endif %}
  {% endif %}

{% endblock %}

{% block scripts %}
  <script src="/static/js/object_delete.js"></script>
{% endblock scripts %}
