{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}

{% block title %}
  NBSAP - {% trans "Indicator" %} {{ indicator.code }}: {{indicator.title }}
{% endblock %}


{% block navmenu %}
  {% include 'admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  {% if messages %}
    <div class="messages alert alert-success">
      {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <h1 class="page-title">{% trans "Indicator" %} {{ indicator.code }}: {{ indicator.title }}</h1>

  <div class="action-bar">
    <form method="POST" action="{% url 'delete_eu_indicator' pk=indicator.pk %}">
      <a class="btn btn-success" href="{% url 'list_eu_indicators' %}">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}
      </a>

      <a class="btn btn-default"
         href="{% url 'edit_eu_indicator' pk=indicator.pk %}">{% trans "Edit" %}</a>

      <button type="submit" class="btn btn-danger edit"
              data-message="{% trans 'Are you sure you want to delete this indicator?' %}">
        <i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}
      </button>
    </form>
  </div>

  {% if indicator.url %}
    <a href="{{ indicator.url }}">
      {{ indicator.indicator_type|upper }} {{ indicator.code }}: {{indicator.title}}</a>
  {% else %}
    {{ indicator.code }} {{ indicator.title }}
  {% endif %}

  {% if indicator.subindicators.exists %}
    <h2>{% trans 'Subindicators' %}</h2>
    <ul>
      {% for subindicator in indicator.subindicators.all %}
        <li>{{ subindicator.code }}: {{ subindicator.title }}</li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}

{% block scripts %}
  <script src="/static/js/object_delete.js"></script>
{% endblock scripts %}
