{% extends 'ramsar/ramsar.html' %}
{% load i18n %}
{% load utils %}


{% block metadata %}
  <meta name="description" content="Ramsar Strategic Plan 2016 - 2024" />
  <meta property="og:title" content="List of Ramsar Goals" />
  <meta property="og:description" content="Here you can see the Ramsar Strategic Plan 2016 – 2024, along with the mapping with the Aichi Targets according to Ramsar resolution XII/2." />
{% endblock %}


{% block content %}
  <h1 class="page-title">{% trans "Ramsar Goals" %}</h1>
  <ul class="list-goals-wrapper">
    {% for goal in goals %}
      <li>
        <a href="{% url 'list_ramsar_targets' code=goal.code %}" title="{{ goal.code }}"</a>
          <h2 class="list-goals-title">
            {% trans "Goal" %} {{ goal.code }}
          </h2>
          <p class="list-goals-desc">{{ goal.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
