{% extends 'layout.html' %}

{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "Ramsar Goals" %}
{% endblock %}


{% block navmenu%}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block sidebar %}
  <div class="sidebar">
    <h4 class="sidebar-title">Goals</h4>
    <ul class="sidebar-menu">
      {% for goal in goals %}
        <li id="list-item" {% if goal.code == target_code %}class="active"{% endif %}>
          <a>{% trans "Goal" %} {{ goal.code }}</a>
          <ul class="sidebar-submenu">
            {% for current_target in goal.targets.all|sort_by_code %}
              <li {% if current_target.code == target.code %}class="active"{% endif %}>
                <a href="{% url 'ramsar_target_detail' code=goal.code ramsar_target_id=current_target.id %}"
                  rel="tooltip" class="targets">
                  {% trans "Target" %} {{ current_target.code }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
<script>
  $(function () {
    $("[rel=tooltip]").tooltip();
  });
</script>
{% endblock scripts %}
