SECRET_KEY=secretkey

ALLOWED_HOSTS=*

DATABASES_NAME=demo
DATABASES_USER=demo
DATABASES_PASSWORD=password

LANGUAGES=en,fr,nl,de-de

EU_STRATEGY=True
EU_STRATEGY_ADD=True
NAT_STRATEGY=True
SITE_HEADER=TCT - Testing instance for the national indicators
INFO_HEADER=False
LAYOUT_FOOTER_LOGO_VISIBLE=False
LAYOUT_HEADER_LOGO_VISIBLE=True

ENABLE_REG_INDICATORS=True

SENTRY_DSN=
SENTRY_PUBLIC_DSN=

FACILITY=tct_demo
INSTANCE_NAME=Testing Instance
