{% load i18n %}
{% block head_scripts %} {{ form.media }} {% endblock %}
{% block content %}


<section class="content">

    <h1 class="page-title">{% trans "Add new Eu Indicator" %}</h1> {% if form.errors %}
    <p>
        {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
    {% endif %}
    <div class="col-md-6 form-wrapper">
        <form action="#" method="post" class="form">

            {% include "manager/eu_indicators/eu_indicator_form.html" %}

            <div class="action-bar">
                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
                <a href="{% url 'list_eu_indicators' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a>
            </div>

        </form>
    </div>
</section>
{% endblock %}
