{% extends 'manager/base.html' %}

{% load i18n %}
{% load assets %}


{% block title %}
NBSAP - {% trans "EU Indicators: List Indicators" %}
{% endblock %}


{% block content %}

{% get_current_language as lang_code %}
<section class="content-header">
  <h1 class="page-title">{% trans "European Indicators" %}</h1>
</section>
<section class="content">
  <h2>{% trans "List EU Indicators" %}</h2>

  <ul class="nav nav-tabs">
    <li class="{% if category == 'headline' %}active{% endif %}">
      <a href="{% url 'list_eu_indicators' %}?category=headline">Headline indicators</a>
    </li>
    <li class="{% if category == 'other' %}active{% endif %}">
      <a href="{% url 'list_eu_indicators' %}?category=other">Other indicators</a></li>
  </ul>

  <div class="action-bar">
    <a class="btn btn-success add"
       href="{% url 'edit_eu_indicator' %}?category={{ category }}">{% trans "Add indicator" %}
    </a>
  </div>

  <table class="table">

    <thead>
    <tr>
      <th>{% trans "Code" %}</th>
      <th>{% trans "Title" %}</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    {% for indicator in indicators %}
    <tr>
      <td>{{ indicator.full_code|default:'' }}</td>
      <td>
        <a href="{% url 'view_eu_indicator' pk=indicator.pk %}"
           title="{% trans 'Indicator' %} {{ indicator.code }}">
          {{ indicator.title|default:indicator.code }}</a>
      </td>
      <td>
        <a class="btn btn-default"
           href="{% url 'edit_eu_indicator' pk=indicator.pk %}">{% trans "Edit" %}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>

  </table>
</section>
{% endblock %}

