{% extends 'manager/base.html' %}
{% load assets %}
{% load i18n %}

{% block title %}
NBSAP - {% trans "Map Indicator " %}{{ indicator.code }}
{% endblock %}


{% block head_scripts %}
{{ form.media }}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "EU Indicators" %}</h1>
</section>
<section class="content">
  <h2>{% trans "Map EU Indicator" %} {{ indicator.code }}</h2>

  {% if form.errors %}
  <p>
    {% blocktrans with form.errors|pluralize as errors %}Please correct the
    error {{ errors }} below.{% endblocktrans %}
  </p>
  {% endif %}
  <form action="" method="post">

    <div class="error-list">{{ form.non_field_errors }}</div>

    <hr>
    <div class="col-md-3">
      <div class="box">
        <div class="box-body">
          <div class="form-group">
            <label class="block" for="eu_target">{% trans "EU Target" %}</label>
            {{ form.eu_targets }}
            {{ form.eu_targets.errors }}
          </div>



          <div class="form-group">
            <label class="block" for="aichi_targets">{% trans "AICHI Targets" %}</label>

            {{ form.aichi_targets }}
            {{ form.aichi_targets.errors }}
          </div>
          <div class="form-group">
            <label class="block" for="other_aichi_targets">{% trans "Other AICHI Targets" %}</label>

            {{ form.other_aichi_targets }}
            {{ form.other_aichi_targets.errors }}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            <a href="{% url 'view_eu_indicator' pk=indicator.pk %}" class="btn btn-default" type="button">
              {% trans "Cancel" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="timeline timeline-inverse eu_targets_text">
      </ul>
      <ul
        class="timeline timeline-inverse goal_text">
      </ul>
      <ul class="timeline timeline-inverse aichi_targets_text">
      </ul>
      <ul class="timeline timeline-inverse other_aichi_targets_text">
      </ul>
    </div>
  </form>
</section>
{% endblock %}

{% block scripts %}
<script>
  $(".chzn-select").chosen();

  forbidCrossChoicesIntersection('eu_targets', 'other_eu_targets');
  forbidCrossChoicesIntersection('aichi_targets', 'other_aichi_targets');

  showTargetCodeValue('eu_targets',
    '.eu_targets_text',
    "{% url 'eu_target_title' pk=1 %}");

  showTargetCodeValue('other_eu_targets',
    '.other_eu_targets_text',
    "{% url 'eu_target_title' pk=1 %}");

  showTargetCodeValue('aichi_targets',
    '.aichi_targets_text',
    "{% url 'aichi_target_title' pk=1 %}");
  showTargetCodeValue('other_aichi_targets',
    '.other_aichi_targets_text',
    "{% url 'aichi_target_title' pk=1 %}");
</script>
{% endblock %}
