{% extends 'manager/base.html' %}

{% load i18n %}
{% load utils %}

{% block title %}
NBSAP - {% trans "Indicator" %} {{ indicator.code }}: {{indicator.title }}
{% endblock %}


{% block content %}
<section class="content">
  <h1>
    {% if indicator.code %}
    {% trans "Indicator" %} {{ indicator.code }}:
    {% endif %}
    {{ indicator.title }}
  </h1>
</section>
<section class="content">
  <div class="action-bar">
    <form method="POST" action="{% url 'delete_eu_indicator' pk=indicator.pk %}">
      <a class="btn btn-success" href="javascript: history.go(-1)">
        <i class="glyphicon glyphicon-arrow-left"></i> {% trans "Back" %}
      </a>

      <a class="btn btn-default"
         href="{% url 'edit_eu_indicator' pk=indicator.pk %}">{% trans "Edit" %}</a>

      <a class="btn btn-default"
         href="{% url 'map_eu_indicator' pk=indicator.pk %}">{% trans "Aichi Mapping" %}</a>

      <button type="submit" class="btn btn-danger edit"
              data-message="{% trans 'Are you sure you want to delete this indicator?' %}">
        <i class="glyphicon glyphicon-trash"></i> {% trans "Delete" %}
      </button>
    </form>
  </div>

  <div>
    {% if indicator.url %}
    URL: <a href="{{ indicator.url }}">
    {{ indicator.get_indicator_type_display }} {{ indicator.code|default:'' }}: {{indicator.title}}</a>
    {% else %}
    {{ indicator.code|default:'' }} {{ indicator.title }}
    {% endif %}
  </div>

  {% if indicator.eu_indicator_aichi_strategy.exists %}
  <h2>{% trans "Mapping with Aichi Strategy" %}</h2>
  <h4>Most relevant</h4>
  <ul>
    {% for strategy in indicator.eu_indicator_aichi_strategy.all %}
    {% for aichi_target in strategy.aichi_targets.all %}
    <li>{{ aichi_target }}</li>
    {% endfor %}
    {% endfor %}
  </ul>

  {% if indicator.eu_indicator_aichi_strategy.count %}
  <h4>Other</h4>
  <ul>
    {% for strategy in indicator.eu_indicator_aichi_strategy.all %}
    {% for aichi_target in strategy.other_aichi_targets.all %}
    <li>{{ aichi_target }}</li>
    {% endfor %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endif %}
</section>
{% endblock %}

{% block scripts %}
<script src="/static/js/object_delete.js"></script>
{% endblock scripts %}
