{% extends 'layout.html' %}
{% load i18n %}
{% load utils %}


{% block title %}
	NBSAP - {% trans "EU Indicators" %}
{% endblock %}


{% block navmenu %}
	{% include '_bits/nav_menu.html' %}
{% endblock %}


{% block sidebar %}
	<div class="sidebar">
		<h4 class="sidebar-title">Indicators</h4>
		<ul class="sidebar-menu">
		{% for indicator in indicators|sort_by_type_and_code %}
			<li {% if indicator.pk == current_indicator.pk %}class="active"{% endif %}>
				<a href="{% url 'eu_indicator_details' indicator.pk %}#{{ indicator.pk }}" id={{ indicator.pk }} title="{{ indicator.code|upper }}">
				{{ indicator.indicator_type| upper }} {{indicator.code | upper }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
{% endblock %}


{% block content %}
	<h2 id="indicator-{{ current_indicator.id }}">
		{{ current_indicator.get_indicator_type_display }} {{ current_indicator.code }} {{ current_indicator.title }}
	</h2>

	{% if current_indicator.url %}
		<p>URL: <a href="{{ current_indicator.url }}">{{ current_indicator.title }}</a></p>
	{% endif %}

	<div class="well">
		<div class="well-title">Most relevant AICHI Targets 
			{% if current_indicator.relevant_aichi_targets|length %}
			<div class="info-count">
			{{ current_indicator.relevant_aichi_targets|length }}
			</div>
			{% endif %}
		</div>
		{% if current_indicator.eu_indicator_aichi_strategy.exists %}
		<ul>
			{% for aichi_target in current_indicator.relevant_aichi_targets|sort_by_code %}
			<li>
			<a href="{% url 'goals' code=aichi_target.get_parent_goal.code aichi_target_id=aichi_target.id %}">
				{% trans "Target" %} {{ aichi_target.code }}
			</a>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<p class="no-corresponding">{% trans "No corresponding Aichi target" %}.</p>
		{% endif %}
	</div>

	<div class="well">
		<div class="well-title other">Other relevant Aichi Targets</div>
		{% if current_indicator.eu_indicator_other_aichi_strategy.exists %}
		<ul>
			{% for strategy in current_indicator.eu_indicator_other_aichi_strategy.all %}
			{% for aichi_target in strategy.aichi_targets.all|sort_by_code %}
				{% assign aichi_target.get_parent_goal as goal %}
				<li>
				<a href="{{% url 'goals' code=goal.code aichi_target_id=aichi_target.id %}">
					{% trans "Target" %} {{ aichi_target.code }}
				</a>
				</li>
			{% endfor %}
			{% endfor %}
		</ul>
		{% else %}
		<p class="no-corresponding">{% trans "No corresponding Aichi target" %}.</p>
		{% endif %}
	</div>

	<div class="pages-navigation">
		<div class="page-nav-prev-wrapper">
			<a href="{% url 'eu_indicator_details' pk=previous_indicator.pk %}#{{ previous_indicator.pk }}"
				 class="previous-page">
				{{ previous_indicator.indicator_type|upper }} - {{ previous_indicator.code }}
			</a>
		</div>
	</div>
	<div class="page-nav-next-wrapper">
		<a href="{% url 'eu_indicator_details' pk=next_indicator.pk %}#{{ next_indicator.pk }}" class="next-page" >
			{{ next_indicator.indicator_type|upper }} - {{ next_indicator.code }}
		</a>
	</div>
{% endblock %}
