{% extends 'layout.html' %}
{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "EU Indicators" %}
{% endblock %}


{% block navmenu %}
  {% include '_bits/nav_menu.html' %}
{% endblock %}

{% block content %}
  <h1 class="page-title">{% trans "EU Indicators" %}</h1>

  {% if indicators %}
    <div class="indicator-pages">
    {% for indicator in indicators|sort_by_type_and_code %}
      <li id="indicator-{{ indicator.id }}">
        <a href="{% url 'eu_indicator_details' indicator.pk %}">{{ indicator.get_indicator_type_display }} {{ indicator.code }} {{ indicator.title }}</a>
      </li>
    {% endfor %}
    </div>
  {% else %}
    <h1>{% trans 'No EU Indicators' %}</h1>
  {% endif %}
{% endblock %}
