{% extends 'layout.html' %}
{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "EU Indicators" %}
{% endblock %}


{% block navmenu %}
  {% include '_bits/nav_menu.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <h4 class="sidebar-title">Indicators</h4>
  <ul class="sidebar-menu">
    {% for indicator in indicators|sort_by_code|sort_by_type %}
    <li {% if indicator.code == current_indicator.code and indicator.indicator_type == current_indicator.indicator_type%}class="active"{% endif %}>
      <a href="{% url 'eu_indicator_details' indicator.pk %}#{{ indicator.pk }}" id={{ indicator.pk }} title="{{ indicator.code|upper }}"</a>
        {{ indicator.indicator_type| upper }} {{indicator.code | upper }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
	<h2 id="indicator-{{ current_indicator.id }}">
	  {{ current_indicator.get_indicator_type_display }} {{ current_indicator.code }} {{ current_indicator.title }}
	</h2>

	{% if current_indicator.url %}
	  <p>URL: <a href="{{ current_indicator.url }}">{{ current_indicator.title }}</a></p>
	{% endif %}

	<div class="well">
	  <div class="well-title">{% trans "Mapping with Aichi Strategy" %}
	      </div>
	  <p><strong>Most relevant:</strong></p>
	  {% if current_indicator.eu_indicator_aichi_strategy.exists %}
	    <ul>
	      {% for strategy in current_indicator.eu_indicator_aichi_strategy.all %}
	        {% for aichi_target in strategy.aichi_targets.all|sort_by_code %}
	          {% assign aichi_target.get_parent_goal as goal %}
	          <li>
	            <a href="{% url 'goals' code=goal.code aichi_target_id=aichi_target.id %}">
	              {% trans "AICHI Target" %} {{ aichi_target.code }}</a>
	          </li>
	        {% endfor %}
	      {% endfor %}
	    </ul>
	  {% else %}
	    <p>{% trans "No corresponding AICHI target" %}.</p>
	  {% endif %}

	  <p><strong>Other:</strong></p>
	  {% if current_indicator.eu_indicator_other_aichi_strategy.exists %}
	    <ul>
	      {% for strategy in current_indicator.eu_indicator_other_aichi_strategy.all %}
	        {% for aichi_target in strategy.aichi_targets.all|sort_by_code %}
	          {% assign aichi_target.get_parent_goal as goal %}
	          <li>
	            <a href="{{% url 'goals' code=goal.code aichi_target_id=aichi_target.id %}">
	              {% trans "AICHI Target" %} {{ aichi_target.code }}</a>
	          </li>
	        {% endfor %}
	      {% endfor %}
	    </ul>
	  {% else %}
	    <p>{% trans "No corresponding AICHI target" %}.</p>
	  {% endif %}
	</div>
	   <a class="previous-page" >  {{ previous_target.get_parent_goal }} - {{ previous_target }} </a>
    <a class="next-page" > {{ next_target.get_parent_goal }} - {{ next_target }}  </a>
{% endblock %}