{% extends 'layout.html' %}
{% load i18n %}
{% load utils %}


{% block title %}
  NBSAP - {% trans "EU Targets" %}
{% endblock %}


{% block navmenu %}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block sidebar %}
  <div class="sidebar">
    <h4 class="sidebar-title">Targets</h4>
    <ul class="sidebar-menu">
      {% for target in targets %}
        <li class="{% if target.pk == current_target.pk %}active {% endif %}{% if target.parent %}indent{% endif %}">
          <a href="{% url 'eu_targets' pk=target.pk %}"
             title="{{ target.code }}">
            {% trans "Target" %} {{ target.code }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block content %}
  {% if current_target %}

    <h1>{% trans "EU Target" %} {{ current_target.code }}: {{ current_target.title }}</h1>
    <p class="objective-description">{{ current_target.description|safe }}</p>

    {% if current_target.children.count %}
      {% for subtarget in current_target.children.all %}
      <h2>
        <a href="{% url 'eu_targets' pk=subtarget.pk %}">
          {% trans "EU Target" %} {{ subtarget.code }}: {{ subtarget.title }}
        </a>
      </h2>
      <p class="objective-description">{{ subtarget.description|safe }}</p>
      {% endfor %}
    {% endif %}

    <div class="well">
      <div class="well-title">{% trans "Most relevant EU indicators" %}</div>
      {% include '_bits/eu_indicators.html' with indicators=current_target.indicators %}
    </div>

    <div class="well">
      <div class="well-title">{% trans "Other EU indicators" %}</div>
      {% include '_bits/eu_indicators.html' with indicators=current_target.other_indicators %}
    </div>


    <div class="well">
      <div class="well-title">{% trans "Most relevant Aichi Targets" %}</div>
      {% if current_target.eu_aichi_strategy.count %}
        <ul>
          {% for strategy in current_target.eu_aichi_strategy.all %}
            {% for aichi_target in strategy.aichi_targets.all %}
              {% assign aichi_target.get_parent_goal as goal %}
              <li>
                <a href="{% url 'goals' code=goal.code %}#{{ aichi_target.code }}">
                  {% trans "AICHI Target" %} {{ aichi_target.code }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% else %}
        <p>{% trans "No corresponding AICHI target" %}.</p>
      {% endif %}
    </div>

    <div class="well">
      <div class="well-title">{% trans "Other relevant Aichi Targets" %}</div>
      {% if current_target.eu_aichi_strategy.count %}
        <ul>
          {% for strategy in current_target.eu_aichi_strategy.all %}
            {% for aichi_target in strategy.other_aichi_targets.all %}
              {% assign aichi_target.get_parent_goal as goal %}
              <li>
                <a href="{% url 'goals' code=goal.code %}#{{ aichi_target.code }}">
                  {% trans "AICHI Target" %} {{ aichi_target.code }}</a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% else %}
        <p>{% trans "No corresponding AICHI target" %}.</p>
      {% endif %}
    </div>
  {% else %}
    <h1 class="page-title">{% trans "EU Targets" %}</h1>
    <ul class="target-list">
      {% for target in targets %}
        <li>
          <a href="{% url 'eu_targets' target.id %}"
             title="{% trans 'Target' %} {{ target.code }}">
             <span>Target</span>
          <span class="target-code">{{ target.code }}</span>
            {{ target.title|default:target.code }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for action in current_target.actions_tree %}
    <div class="section" id="{{ action.code }}">
      <h2>{% trans "Action" %} {{ action.code }}</h2>
      <h5>{{ action.title }}</h5>

      <p>{{ action.description|safe }}</p>

      {% if NAT_STRATEGY %}
        <div class="well">
          <div
              class="well-title">{% trans "Mapping with National Strategy" %}</div>
          {% if action.national_strategy.all %}
            <ul>
              {% for strategy in action.national_strategy.all %}
                <li>
                  {% if strategy.objective.parent %}
                    <a href="{% url 'nat_strategy' code=strategy.objective.parent.code %}#{{ strategy.objective.code }}">
                      {% trans "Objective" %} {{ strategy.objective.code }}
                    </a>
                    <p>{{ strategy.objective.title }} {{ strategy.objective.parent.code }}</p>
                  {% else %}
                    <a href="{% url 'nat_strategy' code=strategy.objective.code %}">
                      {% trans "Objective" %} {{ strategy.objective.code }}
                    </a>
                    <p>{{ strategy.objective.title }} {{ strategy.objective.code }}</p>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>{% trans "No corresponding strategy target" %}</p>
          {% endif %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
