{% load i18n %}
{% block head_scripts %} {{ form.media }} {% endblock %}
{% block content %}
<section class="content-header">
    <h1 class="page-title">{% trans "Add new objective" %}</h1>
</section>
<section class="content">
    {% if form.errors %}
    <p>
        {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
    {% endif %}
    <div class="row">
        <div class="col-md-12 form-wrapper">
            <form action="" method="post" id="national-objective-add" class="form">

                <div class="form-group">
                    <label for="language">{% trans "Language" %}</label> {{ form.language }}
                </div>

                <div class="language-container">

                    <div class="form-group">
                        <label for="title">{% trans "Title" %}</label> {{ form.title }} {{ form.title.errors }}
                    </div>

                    <div class="form-group">
                        <label for="description">{% trans "Description" %}</label> {{ form.description }} {{ form.description.errors }}
                    </div>

                </div>

                <div class="action-bar">
                    <button type="submit" class="btn btn-success">{% trans "Save" %}</button> {% if parent %}
                    <a href="{% url 'view_national_objective' pk=parent.pk %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a> {% else %}
                    <a href="{% url 'list_national_objectives' %}" class="btn btn-default" type="button">{% trans "Cancel" %}</a> {% endif %}
                </div>

            </form>
        </div>
    </div>
</section>
{% endblock %}
