{% extends 'manager/base.html' %}

{% load i18n %}
{% load assets %}


{% block title %}
NBSAP - {% trans "National Strategy: List National Objectives" %}
{% endblock %}


{% block content %}
<section class="content-header">
  <h1>{% trans "National Strategy" %}</h1>
  <h2>{% trans "List National Objectives" %}</h2>
</section>
<section class="content">
  {% get_current_language as lang_code %}

  <div class="action-bar">
    <a class="btn btn-success add"
       href="{% url 'edit_national_objective' %}">{% trans "Add objective" %}
    </a>
  </div>

  <table class="table">

    <thead>
    <th>{% trans "Code" %}</th>
    <th>{% trans "Title" %}</th>
    </thead>

    <tbody>
    {% for objective in objectives %}
    <tr>
      <td>{{ objective.code }}</td>
      <td>
        <a href="{% url 'view_national_objective' pk=objective.pk %}"
           title="{% trans 'Objective' %} {{ objective.code }}">
          {{ objective.title|default:objective.code }}</a>
      </td>
    </tr>
    {% endfor %}
    </tbody>

  </table>
</section>
{% endblock %}

{% block scripts %}

<script>

  $(document).ready(function () {
    $('.objectives_listing').dataTable({
      "bStateSave": true,
      "iDisplayLength": 25
    });
  });
</script>

{% endblock scripts %}
