{% extends 'manager/base.html' %}

{% load i18n %}

{% block title %}
  NBSAP - {% trans "Add Region" %}
{% endblock %}


{% block head_scripts %}
  {{ form.media }}
{% endblock %}

{% block content %}
	<h1>{% trans "Add New Region" %}</h1>
	<form action="" method="post" id="region-add" class="form">
		<div class="">
			<label for="region">{% trans "Region" %}</label>
			{{ form.name }}
		</div>

		<div class="action-bar">
			<button type="submit" class="btn btn-success">{% trans "Save" %}</button>
			<a href="{% url 'list_regions' %}" class="btn btn-danger" type="button">{% trans "Cancel" %}</a>
		</div>
	</form>
{% endblock %}