{% extends 'manager/base.html' %}

{% load i18n %}
{% load assets %}


{% block title %}
  NBSAP - {% trans "EU Strategy: List Targets" %}
{% endblock %}


{% block content %}

  {% get_current_language as lang_code %}

  <h1 class="page-title">{% trans "European Strategy" %}</h1>
  <h1>{% trans "List EU Targets" %}</h1>

  {% if EU_STRATEGY_ADD %}
  <div class="action-bar">
    <a class="btn btn-success add"
       href="{% url 'edit_eu_target' %}">{% trans "Add target" %}
    </a>
  </div>
  {% endif %}


  <table class="table">

    <thead>
      <th>{% trans "Code" %}</th>
      <th>{% trans "Title" %}</th>
    </thead>

    <tbody>
    {% for target in targets %}
      <tr>
        <td>{{ target.code }}</td>
        <td>
          <a href="{% url 'view_eu_strategy_target' target.id %}"
             title="{% trans 'Target' %} {{ target.code }}">
            {{ target.title|default:target.code }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
{% endblock %}

{% block scripts %}

  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>

    $(document).ready(function() {
      $('.objectives_listing').dataTable({
          "bStateSave": true,
          "iDisplayLength": 25,
      });
    });
  </script>

{% endblock scripts %}
