{% extends 'manager/base.html' %}

{% load i18n %}

{% block title %}
  NBSAP - {% trans "List Regions" %}
{% endblock %}


{% block head_scripts %}
  {{ form.media }}
{% endblock %}

{% block content %}
	<h1 class="page-title">{% trans "List Regions" %}</h1>

	<table class="table">
		<thead>
			<th>{% trans "Region" %}</th>
		</thead>

		<tbody>
		{% for region in regions %}
			<tr>
				<td>{{ region.name }}</td>
				<td style="text-align: center;">
		          <a class="btn pull-right btn-mini btn-success add"
		              href="{% url 'edit_region' region.pk %}">{% trans "Edit" %}</a>
		        </td>
		        <td style="text-align: center;">
		          <form method="POST" action="{% url 'delete_region' region.pk %}">
		            <button type="submit" class="btn btn-mini btn-danger" data-message="{% trans 'Are you sure you want to delete this strategy?' %}">
		              {% trans "Delete" %}
		            </button>
		          </form>
		        </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<div class="action-bar">
    	<a class="btn btn-success add"
       		href="{% url 'add_region' %}">{% trans "Add Region" %}
    	</a>
  	</div>
{% endblock %}
