{% extends 'manager/base.html' %}

{% load i18n %}

{% block title %}
NBSAP - {% trans "List Regions" %}
{% endblock %}


{% block head_scripts %}
{{ form.media }}
{% endblock %}

{% block content %}
<section class="content-header">
  <h1 class="page-title">{% trans "List Regions" %}</h1>
</section>
<section class="content">
  <table id="region-table" class="table table-striped table-bordered dataTable">
    <thead>
    <th>{% trans "Region" %}</th>
    <th></th>
    </thead>

    <tbody>
    {% for region in regions %}
    <tr>
      <td>{{ region.name }}</td>
      <td>
        <form method="POST" action="{% url 'delete_region' region.pk %}">
          <a class="btn btn-xs btn-warning add"
             href="{% url 'edit_region' region.pk %}">{% trans "Edit" %}</a>
          <button type="submit" class="btn btn-xs btn-danger"
                  data-message="{% trans 'Are you sure you want to delete this strategy?' %}">
            {% trans "Delete" %}
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  </section>
{% endblock %}
{% block scripts %}

<script>
  $(function () {
    $('#region-table').dataTable({
      "paging": false,
      "dom": '<"filter-wrapper"f>t'
    });
    $('.filter-wrapper').prepend('<div class="action-bar"><a class="btn btn-success add" href="{% url 'add_region' %}">{% trans "Add Region" %}</a></div>');
  });
</script>

{% endblock scripts %}