{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
  NBSAP - {% trans "Add objective" %}
{% endblock %}


{% block extra_head %}
  <style>
    .controls textarea{width: 100%;}
    .controls textarea#id_title {height: 54px;}
  </style>

  {{ form.media }}
{% endblock %}


{% block navmenu %}
  {% include 'admin_nav_tabs.html' %}
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans "National Strategy" %}</h1>
  <h1>{% trans "Add new objective" %}</h1>

  {% if form.errors %}
    <p>
      {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
  {% endif %}

  <form action="" method="post" id="national-objective-add" class="add-form">

    <div class="control-group">
      <label class="control-label" for="language">{% trans "Language" %}</label>
      <div class="controls">
        {{ form.language }}
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="language-container">

          <div class="control-group">
            <label class="control-label" for="title">{% trans "Title" %}</label>
            <div class="controls">
              {{ form.title }}
              {{ form.title.errors }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="description">{% trans "Description" %}</label>
            <div class="controls">
              {{ form.description }}
              {{ form.description.errors }}
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="action-bar">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      {% if parent %}
          <a href="{% url 'view_national_objective' pk=parent.pk %}" class="btn" type="button">{% trans "Cancel" %}</a>
      {% else %}
          <a href="{% url 'list_national_objectives' %}" class="btn" type="button">{% trans "Cancel" %}</a>
      {% endif %}
    </div>

  </form>
{% endblock %}
