{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "Add objective" %}</title>
{% endblock %}

{% block extra_head %}

  <style>
    .controls textarea{width: 100%;}
    .controls textarea#id_title {height: 54px;}
  </style>

  {{ form.media }}

{% endblock %}


{% block content %}

  {% include 'admin_nav_tabs.html' %}

  <div class="tabbable">
    {% include 'objectives/objectives_breadcrumb.html' with objective=parent %}

    <h1 class="small">{% trans "Add objective" %}</h1>

    {% if form.errors %}
      <p style="color: red;">
        {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
      </p>
    {% endif %}

    <form action="" method="post" id="national-objective-add">

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        {% if parent %}
            {% url 'view_national_objective' pk=parent.pk as cancel_url %}
        {% else %}
            {% url 'list_national_objectives' as cancel_url %}
        {% endif %}
        <a href="{{ cancel_url }}" class="btn" type="button">{% trans "Cancel" %}</a>
      </div>

      <div class="control-group">
        <label class="control-label" for="language">{% trans "Language" %}</label>
        <div class="controls">
          {{ form.language }}
        </div>
      </div>

      <div class="row">
        <div class="span6">
          <div class="language-container">

            <div class="control-group">
              <label class="control-label" for="title">{% trans "Title" %}</label>
              <div class="controls">
                {{ form.title }}
                {{ form.title.errors }}
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="description">{% trans "Description" %}</label>
              <div class="controls">
                {{ form.description }}
                {{ form.description.errors }}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        {% if parent %}
            <a href="{% url 'view_national_objective' pk=parent.pk %}" class="btn" type="button">{% trans "Cancel" %}</a>
        {% else %}
            <a href="{% url 'list_national_objectives' %}" class="btn" type="button">{% trans "Cancel" %}</a>
        {% endif %}
      </div>

    </form>
  </div>

{% endblock %}
