{% extends 'layout.html' %}

{% load i18n %}

{% block extra_head %}

  <style>
    .controls textarea{width: 100%;}
    .controls textarea#id_title {height: 54px;}
  </style>

  {{ form.media }}
{% endblock %}


{% block scripts %}
  <script src="/static/js/national_objective.js"></script>
{% endblock %}


{% block content %}

  {% include 'admin_nav_tabs.html' %}
  {% include 'objectives/objectives_breadcrumb.html' %}


  {% get_current_language as lang %}
  <h1 class="small">{% trans "Edit objective" %} {{ objective.code }}</h1>
  <hr>

  {% if form.errors %}
    <p style="color: red;">
      {% blocktrans with form.errors|pluralize as errors %}Please correct the error {{ errors }} below.{% endblocktrans %}
    </p>
  {% endif %}

  <form action="" method="post">

    <div class="control-group">
      <label class="control-label" for="language">{% trans "Language" %}</label>
      <div class="controls">
        {{ form.language }}
      </div>
    </div>

    <div class="row">
      <div class="span6">
        <div class="language-container">

          <div class="control-group">
            <label class="control-label" for="title">{% trans "Title" %}</label>
            <div class="controls">
              {{ form.title }}
              {{ form.title.errors }}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="description">{% trans "Description" %}</label>
            <div class="controls">
              {{ form.description }}
              {{ form.description.errors }}
            </div>
          </div>

        </div>
      </div>

      {% if lang != DEFAULT_LANGUAGE %}
      <div class="span6 original-hideout">
        <p class="original-title">{% trans "Original title in English" %}</p>
        <div class="well">
          {{ objective.title_default }}
        </div>

        <p class="original-description">{% trans "Original description in English" %}</p>
        <div class="well">
          {{ objective.description_default|safe }}
        </div>
      </div>
      {% endif %}

    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      <a href="{% url 'view_national_objective' pk=objective.pk %}" class="btn" type="button">{% trans "Cancel" %}</a>
    </div>

  </form>

{% endblock %}
