{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "Empty set of National Strategies" %}</title>
{% endblock %}
{% load utils %}

{% block content %}

{% include 'nav_tabs.html' %}

<div class="tabbable tabs-left">

  <label class="nav-header">{% trans "Objectives" %}</label>
  <ul class="nav nav-tabs nav-stacked local-navigation">
    {% for objective in objectives %}
      <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
        <a href="{% url 'nat_strategy' code=objective.code %}" title="{{ objective.code }}">
          {% trans "Objective" %} {{ objective.code }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content homepage_view">
    <p>{% trans "No objectives found. Please define your National Strategy" %} <a href="{% url 'list_national_objectives' %}">{% trans "here" %}</a>.
  </div>
</div>
{% endblock %}
