{% extends 'layout.html' %}

{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "List National Objectives" %}</title>
{% endblock %}

{% block content %}

{% get_current_language as lang_code %}

{% load assets %}

<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% include 'admin_nav_tabs.html' %}
{% include 'objectives/objectives_breadcrumb.html' %}

{% if messages %}
  <div class="messages alert alert-success">
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}

<div class="add-button">
  <a class="btn btn-small btn-primary add"
     href="{% url 'edit_national_objective' %}">{% trans "Add objective" %}
  </a>
</div>

<table class="table table-bordered table-striped objectives_listing">

  <thead>
    <th class="obj-id">{% trans "Code" %}</th>
    <th class="obj-title">{% trans "Title" %}</th>
  </thead>

  <tbody>
  {% for objective in objectives %}
    <tr>
      <td>{{ objective.code }}</td>
      <td>
        <a href="{% url 'view_national_objective' pk=objective.pk %}"
           title="{% trans 'Objective' %} {{ objective.code }}">
          {{ objective.title|default:objective.code }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

</table>

{% endblock %}

{% block scripts %}

  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>

    $(document).ready(function() {
      $('.messages').delay(1000).fadeOut();
      $('.objectives_listing').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "bStateSave": true,
          "iDisplayLength": 25,
      });
    });
  </script>

{% endblock scripts %}
