{% extends 'layout.html' %}
{% block content %}

{% if messages %}
<div class="messages alert alert-success">
{% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{% endfor %}
</div>
{% endif %}

{% load assets %}

<style>
#DataTables_Table_0_previous {
    margin-right: 10px;
}
</style>

{% include 'admin_nav_tabs.html' %}


<div class="add-button">
  <a class="btn btn-small btn-primary add"
     href="{% url 'edit_national_objective' %}">Add objective</a>
</div>

<table class="table table-bordered table-striped objectives_listing">

  <thead>
    <th class="obj-id">Code</th>
    <th class="obj-title">Title</th>
  </thead>

  <tbody>
  {% for objective in objectives %}
    <tr>
      <td>{{ objective.code }}</td>
      <td>
        <a href="{% url 'view_national_objective' pk=objective.pk %}"
           title="Objective {{ objective.code }}">
          {{ objective.title }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>

</table>

{% endblock %}

{% block scripts %}

  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script>

    $(document).ready(function() {
      $('.messages').delay(2000).fadeOut();
      $('.objectives_listing').dataTable({
          "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
          "bStateSave": true,
          "iDisplayLength": 25,
      });
    });
  </script>

{% endblock scripts %}
