{% load i18n %}


{% block content %}

  <div class="modal-mid">
    {% for strategy in target.relevant_targets_national_strategy.all %}
    <div class="section">
      <h3>{% trans "Objective" %} {{ strategy.objective.code }}</h3>
      {{ strategy.objective.description|safe }}
    </div>
    {% endfor %}
  </div>

  {% if not download %}
  <div class="modal-bot text-center">
    <a href="{% url 'nat_strategy_export' target_id=target.id %}" class="btn btn-success">
      {% trans "Export" %}</a>
    <a class="btn btn-danger" data-modal="close">
      {% trans "Close" %}</a>

  </div>

  {% endif %}

{% endblock %}
