{% extends 'layout.html' %}

{% load utils %}
{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "National Strategy: Objectives" %}</title>
{% endblock %}

{% block navmenu %}
  {% include 'nav_menu.html' %}
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <h4 class="sidebar-title">{% trans "Objectives" %}</h4>
  <ul class="sidebar-menu">
    {% for objective in objectives|sort_by_code %}
      <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
        <a href="{% url 'nat_strategy' code=objective.code %}" title="{{ objective.code }}">
          {% trans "Objective" %} {{ objective.code }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="download-container">
    <a class="btn btn-small" href="{% url 'nat_strategy_download' %}">
      {% trans "Download strategy" %}
    </a>
  </div>
</div>
{% endblock %}

{% block content %}

  <h1 class="page-title">{% trans 'National Strategy' %}</h1>
  <h1>{% trans "Objective" %} {{ current_objective.code }}: {{ current_objective.title }}</h1>

  <div class="element_field objective-description">
    <div class="snippet">
      {{ current_objective.description|striptags|truncatechars:510|safe }}
      <a class="more">{% trans "show more" %}</a>
    </div>
    <div class="full">
      {{ current_objective.description|safe }}
      <a class="less">{% trans "show less" %}</a>
    </div>
  </div>

  <div class="pre-toc">
    {% include 'mapping/nat_strategy_aichi_mapping.html' with subobj=current_objective %}

    {% if EU_STRATEGY %}
        {% include 'mapping/nat_strategy_eu_mapping.html' with subobj=current_objective %}
    {% endif %}
  </div>


<div class="toc">
<h5>{% trans "Table of contents" %}:</h5>
{% if current_objective.objectives_tree|length %}
<ul>
  {% for objective in current_objective.objectives_tree|sort_by_code %}
  <li>
    <a href="#{{ objective.code }}"
       rel="tooltip"
       data-placement="right"
       data-original-title="{{ objective.title }}">
       {% trans "Objective" %} {{ objective.code }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
  <p>{% trans "No actions found" %}</p>
{% endif %}
</div>


  {% for obj_actions in actions_by_objectives %}
    {% for subobj, actions in obj_actions.items %}
    <div class="section" id="{{ subobj.code }}">

      <h2>{% trans "Objective" %} {{ subobj.code }}: {{ subobj.title }}</h2>

      <div class="snippet">
        {{ subobj.description|striptags|truncatechars:510|safe }}
        <a class="more">{% trans "show more" %}</a>
      </div> {# /snippet #}
      <div class="full">
        {{ subobj.description|safe }}
        <a class="less">
          {% trans "show less" %}</a>
      </div> {# /full #}

      {% include 'mapping/nat_strategy_aichi_mapping.html' %}

        {% if EU_STRATEGY %}
            {% include 'mapping/nat_strategy_eu_mapping.html' %}
        {% endif %}

        {% if actions %}

          <label>{% trans "Related actions" %}:</label>

          {% for action in actions %}
            <div class="well" id="{{ action.id }}">
              {% if action.title %}
                <h2>{{ action.title }}</h2>
              {% else %}
                <h2> {% trans "Actions related to objective" %} {{ action.code }} </h2>
              {% endif %}
              {{ action.description|safe }}
            </div>
          {% endfor %}

        {% endif %}

      </div> {# /element_field #}

      <div class="row between-subobj">
        <a class="pull-right label label-info" href="#top">
          {% trans "Back to top"%}</a>
      </div> {# /between-subobj #}

    {% endfor %}
  {% endfor %}


</div>
{% endblock %}


{% block scripts %}
  <script>
  $(function () {
    $("[rel=tooltip]").tooltip();



    $('.more').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      snippet.hide();
      full.show();
    });

    $('.less').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      full.hide();
      snippet.show();
    });
  });
  </script>
{% endblock scripts %}
