{% extends 'layout.html' %}

{% load utils %}
{% load i18n %}

{% block title %}
  NBSAP - {% trans "National Strategy: Objectives" %}
{% endblock %}

{% block navmenu %}
  {% include '_bits/nav_menu.html' %}
{% endblock %}


{% block sidebar %}
<div class="sidebar">
  <h4 class="sidebar-title">{% trans "Objectives" %}</h4>
  <ul class="sidebar-menu">
    {% for objective in objectives|sort_by_code %}
      <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
        <a href="{% url 'nat_strategy' code=objective.code %}" title="{{ objective.code }}">
          {% trans "Objective" %} {{ objective.code }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="download-container">
    <a class="btn btn-success small" href="{% url 'nat_strategy_download' %}">
      {% trans "Download the mapping" %}
    </a>
  </div>
</div>
{% endblock %}


{% block content %}

  <h1 class="page-title">{% trans 'National Strategy' %}</h1>
  <h1 class="x-title">{% trans "Objective" %} {{ current_objective.code }}: {{ current_objective.title }}</h1>
  <div class="summary">
    <div class="snippet">
      {{ current_objective.description|striptags|truncatechars:510|safe }}
      <a class="more">{% trans "show more" %}</a>
    </div>
    <div class="full">
      {{ current_objective.description|safe }}
      <a class="less">{% trans "show less" %}</a>
    </div>
  </div>

  <div class="pre-toc">
    {% include 'mapping/../manager/nat_strategy/mapping/nat_strategy_aichi_mapping.html' with subobj=current_objective %}

    {% if EU_STRATEGY %}
        {% include 'mapping/../manager/nat_strategy/mapping/nat_strategy_eu_mapping.html' with subobj=current_objective %}
    {% endif %}
  </div>

  <div>
    <p>
      <a href="{% url 'implementation' code=current_objective.code %}" title="{{ current_objective.code }}">
      See implementation
      </a>
    </p>
  </div>

<div class="toc">
<h5>{% trans "Table of contents" %}:</h5>
{% if current_objective.objectives_tree|length %}
<ul>
  {% for objective in current_objective.objectives_tree|sort_by_code %}
  <li>
    <a href="#{{ objective.code }}"
       rel="tooltip"
       data-placement="right"
       data-original-title="{{ objective.title }}">
       {% trans "Objective" %} {{ objective.code }}</a>

  </li>
  {% endfor %}
</ul>
{% else %}
  <p>{% trans "No actions found" %}</p>
{% endif %}
</div>

{% if current_objective.objectives_tree|length %}

  {% for obj in current_objective.objectives_tree|sort_by_code %}

    <div class="section" id="{{ obj.code }}">
      <h2>{% trans "Objective" %}
           {{ obj.code }}: {{ obj.title }}</h2>

      <div class="summary">
        <div class="snippet">
          {{ obj.description|striptags|truncatechars:510|safe }}
          <a class="more">{% trans "show more" %}</a>
        </div> {# /snippet #}
        <div class="full">
          {{ obj.description|safe }}
          <a class="less">
            {% trans "show less" %}</a>
        </div> {# /full #}
      </div> {# /summary #}

      {% include 'manager/nat_strategy/mapping/nat_strategy_aichi_mapping.html' with subobj=obj%}
      {% if EU_STRATEGY %}
        {% include 'manager/nat_strategy/mapping/nat_strategy_eu_mapping.html' %}
      {% endif %}

    </div> {# /summary #}

  {% endfor %}

{% endif %}


<div class="text-right">
  <a href="#top">
    {% trans "Back to top"%}</a>
</div>


{% endblock %}


{% block scripts %}
  <script>
  $(function () {
    $("[rel=tooltip]").tooltip();

    $('.more').on('click', function() {
      var parents = $(this).parents('.summary');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      snippet.hide();
      full.show();
    });

    $('.less').on('click', function() {
      var parents = $(this).parents('.summary');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      full.hide();
      snippet.show();
    });
  });
  </script>
{% endblock scripts %}
