{% extends 'layout.html' %}

{% load utils %}
{% load i18n %}

{% block title %}
    <title>NBSAP - {% trans "National Strategy: Objectives" %}</title>
{% endblock %}

{% block content %}
  {% include 'nav_tabs.html' %}

  <div class="tabbable tabs-left">

    <label class="nav-header">{% trans "National Strategy: Objectives" %}</label>
    <ul class="nav nav-tabs nav-stacked local-navigation">
      {% for objective in objectives|sort_by_code %}
        <li {% if objective.code == current_objective.code %}class="active"{% endif %}>
          <a href="{% url 'nat_strategy' code=objective.code %}" title="{{ objective.code }}">
            {% trans "Objective" %} {{ objective.code }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="download-container">
      <a class="btn btn-small" href="{% url 'nat_strategy_download' %}">
        {% trans "download strategy" %}</a>
    </div>

    <div class="tab-content homepage_view national-strategy">
      <h1>{% trans "Objective" %} {{ current_objective.code }}: {{ current_objective.title }}</h1>
      <div class="element_field objective-description">
        <div class="snippet">
          {{ current_objective.description|striptags|truncatechars:510|safe }}
          <a class="more badge">{% trans "show more" %}</a>
        </div>
        <div class="full">
          {{ current_objective.description|safe }}
          <a class="less badge badge-success">{% trans "show less" %}</a>
        </div>
      </div>

      <div class="pre-toc">
        {% include 'mapping/nat_strategy_aichi_mapping.html' with subobj=current_objective %}

        {% if EU_STRATEGY %}
            {% include 'mapping/nat_strategy_eu_mapping.html' with subobj=current_objective %}
        {% endif %}
      </div>

      <div class="row toc">
        <label>{% trans "Table of contents" %}:</label>

        {% if not current_objective.objectives_tree|length %}
        <ul class="span2">
          <li>{% trans "No sub-objectives found" %}</li>
        </ul>
        {% else %}

        <ul class="span2">
          {% for objective in current_objective.objectives_tree|sort_by_code %}
          {% if forloop.counter0|divisibleby:"2" and not forloop.first %}
        </ul>
        <ul class="span2">
          {% endif %}
          <li>
            <a href="#{{ objective.code }}"
               rel="tooltip"
               data-placement="right"
               data-original-title="{{ objective.title }}">
               {% trans "Objective" %} {{ objective.code }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="row post-toc">
        {% for obj_actions in actions_by_objectives %}
          {% for obj, actions in obj_actions.items %}
          <label>
            {% trans "Actions related with objective" %} {{ obj }}:</label>
            <ul>
            {% for action in actions %}
              <li>
                <a href="#{{ action.id }}">
                  {% if action.title %}
                    {{ action.title }}
                  {% else %}
                    {{ action.description|slice:":50"|safe }}
                  {% endif %}
                </a>
              </li>
            {% endfor %}
            </ul>
          {% endfor %}
        {% empty %}
          <p>No related actions found</p>
        {% endfor %}
      </div>

      <div class="subobjectives">
        {% for subobj in current_objective.objectives_tree %}
        <div class="element_field" id="{{ subobj.code }}">
          <h2><span class="subobj">{% trans "Objective" %} {{ subobj.code }}</span>: {{ subobj.title }}</h2>

          <div class="snippet">
            {{ subobj.description|striptags|truncatechars:510|safe }}
            <a class="more badge">{% trans "show more" %}</a>
          </div>
          <div class="full">
            {{ subobj.description|safe }}
            <a class="less badge badge-success">{% trans "show less" %}</a>
          </div>

          {% include 'mapping/nat_strategy_aichi_mapping.html' %}

          {% if EU_STRATEGY %}
              {% include 'mapping/nat_strategy_eu_mapping.html' %}
          {% endif %}
          {% if subobj.actions.all %}
            <label>{% trans "Related actions" %}:</label>
            {% for action in subobj.actions.all %}
              <div class="well" id="{{ action.id }}">
                {% if action.title %}
                  <h2>{{ action.title }}</h2>
                {% else %}
                  <h2> {% trans "Actions related to objective" %} {{ action.code }} </h2>
                {% endif %}
                {{ action.description|safe }}
              </div>
            {% endfor %}
          {% endif %}

        </div>
        <div class="row between-subobj">
          <a class="pull-right label label-info" href="#top">{% trans "Back to top"%}</a>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
  $(function () {
    $("[rel=tooltip]").tooltip();

    $('.more').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      snippet.hide();
      full.show();
    });

    $('.less').on('click', function() {
      var parents = $(this).parents('.element_field');
      var snippet = parents.find('.snippet');
      var full = parents.find('.full');

      full.hide();
      snippet.show();
    });
  });
  </script>
{% endblock scripts %}
