body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: Arial, sans-serif !important;
}

/* ie 8 fixes */
body .container\0,
body  .navbar-static-top .container\0,
body  .navbar-fixed-top .container\0,
body  .navbar-fixed-bottom .container\0,
footer\0 {
  width: 93.5%;
  max-width: 1158px;
}

footer\0 {
    padding: 7px 7px!important;
}

hgroup {
    margin-bottom: 15px;
}

footer {
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
}

footer p {
    margin-bottom: 0;
    color: #555;
}

a {
    cursor: pointer;
}

input, textarea {
    color: #333!important;
}

/* DataTables with Twitter Boostrap v2
   http://datatables.net/blog/Twitter_Bootstrap_2
   http://datatables.net/media/blog/bootstrap_2/DT_bootstrap.css */

div.dataTables_length label { float: left; text-align: left; }
div.dataTables_length select { width: 75px; }
div.dataTables_filter label { float: right; }
div.dataTables_info { padding-top: 8px; }
div.dataTables_paginate { float: right; margin: 0; }
table.table { clear: both; margin-bottom: 6px !important; }

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../../js/lib/datatables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../../js/lib/datatables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../../js/lib/datatables/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../../js/lib/datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../../js/lib/datatables/images/sort_desc_disabled.png') no-repeat center right; }
table.table caption {
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}

.thumbnail {
    margin-bottom: 2em;
}

#edit-participant fieldset legend {
    margin-bottom: 0.2em;
}

#edit-participant .control-group {
    margin-bottom: 0.5em;
}

.us_states_container {
    list-style-type: none;
    font-size: 10px;
    margin: 0;
    width: 36em;  /* room for 3 columns */
}
.us_states_container li {
    float: left;
    width: 12em;  /* accommodate the widest item */
}

.us_states_container .title {
    font-weight: bold;
    float: left;
    width: 26px;
}

dl.phrases {
    margin-top: -4px;
    display: none;
    magin: 0;
}
dl.phrases textarea {
    width: 100%;
    height: 250px;
}
dl.phrases h3 {
    margin-bottom: 15px;
}

dl.phrases dd {
    margin: 0;
}

.container {
    position: relative;
}
.container .header h1,
.container .header h4,
.container .subheader {
    text-align: center;
}
.container .subheader {
    margin: 15px 250px;
    background: #ccc;
    padding: 0.5em;
    border: 1px solid black;
    box-shadow:4px 4px #000;
}
.container .subheader ul {
    list-style-type: none;
    font-size: 0.8em;
    margin: 0;
}

.container .subheader textarea{
    resize: vertical;
}

.inplace_field{
    width: 400px;
}

.container .content .category{
    background: #F9F9F9;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.container .content .language-label{
    background: #000;
    padding: 0.2em 0.5em;
    color: #fff;
}

.container .content .pigeon-holes td{
    font-weight: bold;
    font-size:1.4em;
    border-top: 1px solid #000;
    padding: 10px;
}


.send-mail-container .add-container   {
    font-size: 11px;
    height: 15px;
}
.send-mail-container input,
.send-mail-container textarea  {
    width: 100%;
}
.send-mail-container textarea {
    height: 300px;
}
.send-mail-container .add-container a {
    margin-right: 10px;
}
.send-mail-container label {
    font-weight: bold;
}
.send-mail-container .control-group {
    margin: 0;
    margin-bottom: 15px;
}
.send-mail-container .help-inline {
    padding: 0;
}

/* fix ie7 stuff */
.breadcrumb {
    overflow: hidden;
}
.breadcrumb, .breadcrumb li {
    list-style-type: none!important;
}
.breadcrumb li {
    float:left;
}
.modal-backdrop {
    filter:alpha(opacity=0)!important;
}

.attachement-container {
    overflow: hidden;
}
.attachement-container .title {
    float: left;
    width: 70px;
}
.attachement-container .value {
    margin-left: 80px;
}
.attachement-container .value a {
    color: #fff;
    text-decoration: underline;
}
.credentials-header h1,
.credentials-header .subheader {
    text-align: center;
}

.credentials-header .subheader {
    margin-top: 15px;
    font-style: italic;
    background: #ccc;
}

.credentials-header table {
    width: 600px;
    list-style-type: none;
    margin: 20px 250px;
}
.credentials-header table td {
    vertical-align: top;
}
.credentials-header .title {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    width: 180px;
}
.credentials-header .content {
    line-height: 24px;
    font-size: 16px;
}
.credentials-content p {
    font-size: 16px;
    line-height: 24px;
}
.bar-chart {
    padding-left: 290px;
    margin-top: 15px;
}
.progress {
    margin-bottom: 10px;
}
.progress .title {
    padding-left: 16px;
    position: absolute;
    margin-top: -19px;
    font-weight: bold;
    left: 0;
}
.progress .bar {
    text-shadow: none;
    color: #333;
    text-align: right;
}
.progress .value  {
    text-shadow: 1px 0 1px #fff;
    position: relative;
    font-size: 11px;
    right: -10px;
}
.progress .value-double-digits {
    right: -15px;
}
.progress .value-null {
    right: -4px;
}
.pie-chart li {
    list-style-type: none;
}
.pie-chart .color {
    border: 1px solid #333;
    background: red;
    display: block;
    width: 10px;
    height: 10px;
    float: left;
    margin-right: 6px;
}
.pie-chart .legend span {
    position: relative;
    top: -3px;
}
.pie-chart .legend {
    position: absolute;
    left: 350px;
}
.pie-chart ul {
    margin-top: 10px;
}
.pie-chart li {
    padding: 3px 0;
}

.file-input-container {
    display: none;
}
.file-input-container input[type="file"] {
    font-size: 12px;
}
.file-input-container iframe {
    display: none;
}

.sep {
    border-top: 1px solid #ccc;
    margin-top: 30px;
    text-align: center;
    width: 379px;
}
.sep a {
    position: relative;
    padding: 3px 4px;
    background: #fff;
    top: -11px;
}
.sep .icon-container {
    position: relative;
    background: #fff;
    padding: 3px 4px;
    top: -12px;
    left: -6px;

}
.sep .icon-chevron-down,
.sep .icon-chevron-up {
    background-color: #fff;
    opacity: 0.5;
    -moz-opacity: 0.5
    filter:alpha(opacity=5);
}

.fees td:hover .icon-trash {
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.hide {
    display: none;
}

.actions {
    list-style-type: none;
    float: right;
    height: 29px;
}
.actions > li {
    margin-right: 15px;
    float: left;
}

.highlight td {
    background: #ffff99!important;
}
/*
.field-i18nstring textarea,
.field-i18nstring input,
.i18nstring-city input {
  margin-bottom: 10px;
  width: 400px;
}
*/
.i18string-city input {
  width: 210px;
}

.err {
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.offline-container {
    position: absolute;
    top: 2px;
    left: 160px;
    width: 420px;
}

.offline-container strong {
    position: relative;
    top: 2px;
}

.update_attendance {
  cursor: pointer;
}

.edit_attendance {
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: 7px;
}

.save_attendance {
  cursor: pointer;
  position: absolute;
  right: -25px;
  top: 7px;
}

table.people-listing tr .edit_attendance {
  display: none!important;
}

table.people-listing tr .checkbox {
  display: none;
}

table.people-listing tr .save_attendance {
  display: none;
}

table.people-listing tr:hover .edit_attendance {
  display: block!important;
}

table.people-listing tr {
  height: 40px;
}

table.people-listing tr:nth-child(even):hover td,
table.people-listing tr:nth-child(even):hover th {
    background-color: white;
}

table.people-listing tr:nth-child(odd):hover td,
table.people-listing tr:nth-child(odd):hover th {
    background-color: #f9f9f9;
}

/* NBSAP stylesheets */
.listing {
    position: relative;
}
.listing p {
    font-size: 14px;
    margin-bottom: 0;
}
.listing a {
    margin-left: 3px;
}
.listing h3 {
    margin-top: 25px;
}

.indent {
    position: relative;
    left: 25px;
}

.property_list {
    margin-top: 30px;
}

table.indicator_view td.indicator_field {
  width: 350px;
}

form.indicator_form div.form-actions {
    padding-left: 20px;
}

textarea.mapping_text {
  width: 800px;
  max-width: 800px;
  margin-left: 20px;
}

textarea.objective,
textarea.other_targets {
  width: 750px;
  max-width: 750px;
}

.homepage_view {
  position: relative;
  display: block;
}

p.description {
  font-size: 14px;
}

.homepage_view div.row {
  margin-top: 5px;
  position: relative;
}

.homepage_view {
  position: relative;
  display: block;
  width: 74%;
  padding-left: 30px;
  overflow: hidden;
}

p.description {
  font-size: 14px;
}

div.element_field {
  padding-top: 44px;
}

.homepage_view h1 {
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1px solid #CCC;
}

.homepage_view h2 {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #CCC;
}

.homepage_view h3 {
    font-size: 12px;
    line-height: 12px;
}

.homepage_view h4 { /* styled as a label, eg. Flanders, Walloon */
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    color: #4D8584;
    text-transform: uppercase;
}

.homepage_view div.row {
  margin-top: 5px;
  margin-left: 0px;
  position: relative;
}

.homepage_view div.full {
  display: none;
}

.indicator_homepage table {
  margin-top: 10px;
}

.indicator_homepage h2 {
  border-bottom: 0;
}

.login {
    margin-top: 70px;
}

.login-span {
        font-style: italic;
}

.wmd-panel .btn-toolbar {
        margin-bottom: 10px!important;
}

.add {
    margin-bottom: 15px;
}

.modal-backdrop {
    opacity: 0.2;
}

#help {
  top: 30%;
  left: 45%;
  width: auto;
}

#help p {
  margin: 0 0 5px 0;
  color: #888;
}

.hidden {
    display: none;
}

/* overwrite from bootstrap */
.tooltip {
    font-size: 11px;
}

.tooltip.in {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

.tooltip-inner {
    max-width: 800px;
    background-color: white;
    color: #000;
    border: 1px solid #888;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tooltip p {
    margin-bottom: 0px;
}


/* SONIA's styles */

/* header */
body {
    padding: 0px;
    background: #B8CA91;
}

.navbar-inner {
    width: 1170px;
    margin: 0 auto;
    background: white;
    padding: 0;
    border: 0px;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    background: url('header.png') no-repeat 0% 3%;
    filter: none;
}

.navbar {
    margin-bottom: 0;
}

.navbar .brand {
    width: 47%;
    height: 50px;
    margin-top: 5px;
    margin-left: 0;
    padding-left: 67px;
    padding-top: 36px;
    color: #014E46;
    background: url('chm_logo.png') no-repeat 3% 72%;
}

@media (min-width: 1200px) {
    .navbar-inner,
    footer {
        width: 1170px;
        padding-left: 5px;
        padding-right: 10px;
    }

}

@media (max-width: 1200px) {
    .navbar-inner,
    footer {
        width: 940px;
        padding-left: 5px;
        padding-right: 10px;
    }
}

@media (max-width: 1024px) {
    .navbar-inner,
    .container.content,
    footer {
        width: 940px;
        padding-left: 5px;
        padding-right: 10px;
    }

    .navbar-inner .container {
        width: 940px;
    }

    .navbar .brand {
        width: 35%;
    }

    .login-container input {
        width: 330px;
    }
}

.navbar .nav.top-menu {
    margin-top: -7px;
    font-size: 11px;
}

.navbar .nav > li > a {
    text-shadow: none;
    color: #FFF;
    font-weight: bold;
}

.navbar .nav > li > a:hover {
    color: #B4B4B4;
}

.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
    border-top-color: #F1F1F1;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
    border: 1px solid #014E46;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #014E46;
}

.nav-tabs > li > a {
    color: #014E46;
}

.navbar .nav form.language-menu {
    margin: 0;
}

.navbar .nav form.language-menu > a {
    color: #014E46;
    text-transform: uppercase;
}


/* footer */
footer {
    border-top: 0;
    margin: 0 auto;
    background: white;
    padding-top: 10px;
}

footer .container {
    border-top: 1px solid #014E46;
    padding-top: 10px;
}

.museum-logo {
    background: url('gov_logo.png') no-repeat center center;
    width: 225px;
    height: 75px;
    text-indent: -9999px;
    display: block;
    border: 1px solid black;
    margin-right: 150px;
}

.CHM-logo {
    background: url('chm_logo.png') no-repeat;
    height: 70px;
    width: 45px;
    text-indent: -9999px;
    margin-left: 15px;
}

.container.content {
    padding-top: 5px;
    background: #fff;
    padding-left: 5px;
    padding-right: 10px;
}


/* AICHI page */
.nav-tabs.nav-stacked > li.active > a,
.nav-tabs.nav-stacked > li > a:hover {
    background: #08C;
    color: #fff;
}

.nav .nav-header {
    padding: 3px 15px 3px 5px;
    margin-bottom: 0px;
}

.nav li + .nav-header:last-of-type {
    margin-top: 40px;
}

.tabs-left > .nav-tabs {
    border-right: 0px;
}

.homepage_view label {
    color: #777;
}

.homepage_view ul {
    list-style-type: circle;
}

.well ul,
.snippet ul,
.full ul {
    list-style-type: square;
}

.tabs-left > .nav-tabs {
    margin-right: 25px;
}

.nav.nav-tabs.nav-stacked {
    padding: 19px 0px 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    border-right: 1px solid #DDD;
}

.nav-tabs.nav-stacked > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 0px;
    border-bottom: 1px solid #ddd;
}

.local-navigation.nav-tabs > li > a {
    border-top: 1px solid #ddd;
}

.local-navigation.nav-tabs > .active > a,
.local-navigation.nav-tabs > .active > a:hover {
    border: 0px;
    border-top: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    margin-bottom: 0px; /* overrides bootstrap.css 3519 */
}

.homepage_view h1,
.homepage_view h2 {
    border-bottom: 0px;
}

.target-description {
    font-weight: bold;
}

h1 p,
h2 p {
    display: inline;
}


/* Indicators page */
.indicator_field {
    color: #777;
}

.indicator_table,
.indicator_table th,
.indicator_table td {
    border: 0px; /* overrides bootstrap.css 1561, 1572 */
}

.indicator_table ul,
.indicator_view ul {
    list-style-type: square;
}


/* Objectives page */
.full {
    padding: 5px;
    margin-top: 5px;
}

.element_field.objective-description {
    padding: 0px 19px 10px 0px;
}

.element_field label {
    margin-top: 15px;
}

.row.between-subobj {
    border-bottom: 1px dashed #bbb;
}

.more,
.less {
    padding: 2px 4px;
    background-color: #F7F7F9;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.well .mapping-list {
    list-style-type: none;
    margin-left: 0px;
}

.well .mapping-list li {
    color: #777;
    margin-bottom: 10px;
}

.mapping-list li span {
    display: block;
    margin-bottom: 15px;
}

.mapping-header {
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #444;
    text-transform: uppercase;
    margin-bottom: 0px !important;
}

.mapping-list li p {
    display: inline;
    font-size: 11px;
}


/* admin pages */
.original-description,
.original-title,
.control-label {
    font-weight: bold;
}

h1.small {
    font-size: 24px;
    line-height: 27px;
}

.admin-obj-description,
.admin-action-description {
    padding: 1px 30px;
}

.btn-toolbar {
    margin-left: 30px;
}


#wmd-button-bar-fr .btn-group + .btn-group,
#wmd-button-bar-nl .btn-group + .btn-group,
#wmd-button-bar-en .btn-group + .btn-group  {
    margin-left: 3px;
}

#wmd-button-row-fr.btn-toolbar,
#wmd-button-row-nl.btn-toolbar,
#wmd-button-row-en.btn-toolbar {
    margin-left: 0px;
}

body .obj-id {
    width: 20px;
}

.obj-title {
    /*width: 935px;*/
}

.obj-lang1,
.obj-lang2 {
    width: 73px;
}

.download-container {
    float: left;
    clear: left;
}
